{% trans_default_domain "entity" %}
<section id="entries">
<h4>{{ 'my_image_entries.entries.caption' | trans({}, 'me') }}</h4>
 <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-3">
 {% for sectionEntry in entries %}
  <div class="col">
   <div class="card rounded shadow-sm h-100">
    <div class="card-header d-flex justify-content-end">
     {%- if sectionEntry.score > 0 -%}<span class="badge bg-light text-dark" title="{{ 'section_entry.score.caption' | trans }}">{{ sectionEntry.score }}</span>{%- endif -%}
    </div>
    <div class="card-body">
     {%- if sectionEntry.imageVariant.filePath is not empty -%}
      <img class="card-img-top" src="{{ sectionEntry.imageVariant.filePath | imagine_filter('public_grid') }}" alt="{{ sectionEntry.title }}" title="{{ sectionEntry.title }}"/>
      {%- else -%}
      <img src="{{ 'images/awaitingImage.png' | imagine_filter('public_grid') }}" alt="{{ sectionEntry.title }}" title="{{ sectionEntry.title }}"/>
      {%- endif -%}
     <h5 class="card-title text-truncate mt-2">{{ sectionEntry.title }}</h5>
     <dl>
      <dt>{{ 'my_image_entries.entries.event.title.caption' | trans({}, 'me') }}</dt>
      <dd>{{ sectionEntry.enteredIn.partOf.event.title }}</dd>
      {% if not (sectionEntry.enteredIn.partOf.sections | length <= 1) -%}
      <dt>{{ 'my_image_entries.entries.competition_section.title.caption' | trans({}, 'me') }}</dt>
      <dd>{{ sectionEntry.enteredIn.title }}</dd>
      {%- endif %}
      {% if not (sectionEntry.imageVariant.image.variants | length <= 1) -%}
      <dt>{{ 'my_image_entries.entries.description.caption' | trans({}, 'me') }}</dt>
      <dd>{{ sectionEntry.imageVariant.description }}</dd>
      {%- endif %}
     </dl>
    </div>
   </div>
  </div>
 {% endfor %}
 </div>
</section>
