{% extends 'base.html.twig' %}

{% block page_title -%}
{{ 'my_image_entries.caption' | trans({}, 'me') }}
{%- endblock %}

{% block content %}
{% if variants is defined %}
{{ include('me/my_image_entries/variants.html.twig') }}
{% endif %}
{{ include('me/my_image_entries/entries.html.twig') }}
{% endblock %}
