{% trans_default_domain "entity" %}
<section id="variants">
<h4>{{ image.title }}</h4>
 <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-3">
 {% for imageVariant in variants %}
  <div class="col">
   <div class="card rounded shadow-sm h-100">
    <div class="card-body">
     {%- if imageVariant.filePath is not empty -%}
      <img class="card-img-top" src="{{ imageVariant.filePath | imagine_filter('public_large') }}" alt="{{ imageVariant.description }}" title="{{ imageVariant.description }}"/>
      {%- else -%}
      <img src="{{ 'images/awaitingImage.png' | imagine_filter('public_grid') }}" alt="{{ imageVariant.description }}" title="{{ imageVariant.description }}"/>
      {%- endif -%}
     <h5 class="card-title text-truncate mt-2">{{ imageVariant.description }}</h5>
    </div>
   </div>
  </div>
 {% endfor %}
 </div>
</section>
