{% extends 'base.html.twig' %}

{% block page_title -%}
{{ 'manage_images.caption' | trans({}, 'admin') }}
{%- endblock %}

{% block content %}
{% trans_default_domain "entity" %}
<section id="images">
<h4>{{ 'manage_images.images.caption' | trans({}, 'admin') }}</h4>
 <div class="filter mb-3">
  <form action="{{ path('manageImages', {  }) }}" method="get">
   <div class="input-group">
    <input type="text" name="title" class="form-control" placeholder="Title" required="required" value="{{ app.request.query.get('title') }}"/>
    <button type="submit" name="titleLikeFilter" class="btn btn-outline-secondary"><i class="material-icons">search</i></button>
   </div>
  </form>
 </div>
 <turbo-frame id="images-{{ images.currentPage }}" target="_top">
 <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-3">
 {% for image in images %}
  <div class="col">
   <div class="card rounded shadow-sm h-100">
    <div class="card-body">
     {%- if image.variants | length > 0 -%}
      {%- if image.variants.0.filePath is not empty -%}
      <img class="card-img-top" src="{{ image.variants.0.filePath | imagine_filter('public_large') }}" alt="{{ image.title }}" title="{{ image.title }}"/>
      {%- else -%}
      <img src="{{ 'images/awaitingImage.png' | imagine_filter('public_grid') }}" alt="{{ image.title }}" title="{{ image.title }}"/>
      {%- endif -%}
      {%- else -%}
      <img src="{{ 'images/awaitingImage.png' | imagine_filter('public_grid') }}" alt="{{ image.title }}" title="{{ image.title }}"/>
      {%- endif -%}
     <h5 class="card-title text-truncate mt-2">{{ image.title }}</h5>
     <ul class="list-unstyled">
      <li class="text-truncate">{{ image.author.defaultLabel() }}</li>
     </ul>
    </div>
    <div class="card-footer">
     <nav class="nav nav-pills justify-content-center">
      <a href="{{ path('manageImageEntries', { 'username': image.author.username,
      'title': image.title, }) }}" class="bg-light border border-dark nav-link m-1" title="Entries {{ image.defaultLabel() }}">{{ 'manage_images.images.actions.entrieslabel' | trans( {}, 'admin') }}</a>
      {% if image.variants | length > 1 %}<a href="{{ path('managePeople_variants', { 'username': image.author.username,
      'title': image.title, }) }}" class="bg-light border border-dark nav-link m-1" title="Variants {{ image.defaultLabel() }}">{{ 'manage_images.images.actions.variantslabel' | trans( {}, 'admin') }}</a>{% endif %}
     </nav>
    </div>
   </div>
  </div>
 {% endfor %}
 </div>
  {% if images.hasNextPage %}
  <turbo-frame id="images-{{ images.nextPage }}" src="{{ pagerfanta_page_url(images, images.nextPage) }}" loading="lazy"></turbo-frame>
  {% endif %}
 </turbo-frame>
</section>
{% endblock %}
