{% extends 'base.html.twig' %}

{% block page_title -%}
{{ 'my_images.caption' | trans({}, 'me') }}
{%- endblock %}

{% block content %}
{% trans_default_domain "entity" %}
<section id="images">
<h4>{{ 'my_images.images.caption' | trans({}, 'me') }}</h4>
 <div class="filter mb-3">
  <form action="{{ path('myImages', {  }) }}" method="get">
   <div class="input-group">
    <input type="text" name="title" class="form-control" placeholder="Title" required="required" value="{{ app.request.query.get('title') }}"/>
    <button type="submit" name="titleLikeFilter" class="btn btn-outline-secondary"><i class="material-icons">search</i></button>
   </div>
  </form>
 </div>
 <turbo-frame id="images-{{ images.currentPage }}" target="_top">
 <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-3">
 {% for image in images %}
  <div class="col">
   <div class="card rounded shadow-sm h-100">
    <div class="card-header d-flex justify-content-end">
     {%- if image.variants | length > 0 and image.variants.0.personalShowcase == 1 -%}<span class="badge bg-light text-dark"><i class="bi bi-check2-square"></i></span>{%- endif -%}
     {%- if image.variants | length > 0 and image.variants.0.personalShowcase != 1 -%}<span class="badge bg-light text-dark"></span>{%- endif -%}
    </div>
    <div class="card-body">
     {%- if image.variants | length > 0 and (image.variants.0.filePath is empty or image.variants.0.photo) -%}
      <img src="{{ 'images/awaitingImage.png' | imagine_filter('public_grid') }}" alt="{{ image.title }}" title="{{ image.title }}"/>
      {%- else -%}
      <img class="card-img-top" src="{{ image.variants.0.filePath | imagine_filter('public_large') }}" alt="{{ image.title }}" title="{{ image.title }}"/>
      {%- endif -%}
     <h5 class="card-title text-truncate mt-2">{{ image.title }}</h5>
    </div>
    <div class="card-footer">
     <nav class="nav nav-pills justify-content-center">
      <a href="{{ path('myImageEntries', { 'title': image.title, }) }}" class="bg-light border border-dark nav-link m-1" title="Entries {{ image.defaultLabel() }}">{{ 'my_images.images.actions.entrieslabel' | trans( {}, 'me') }}</a>
      {% if is_granted('ROLE_MEMBER_PLUS') %}{% if image.variants | length == 1 %}<a href="{{ path('myImages_showcase', app.request.query.all|merge({ 'title': image.title, })) }}" class="bg-light border border-dark nav-link m-1" title="Showcase {{ image.defaultLabel() }}">{{ 'my_images.images.actions.showcaselabel' | trans( {}, 'me') }}</a>{% endif %}{% endif %}
     </nav>
    </div>
   </div>
  </div>
 {% endfor %}
 </div>
  {% if images.hasNextPage %}
  <turbo-frame id="images-{{ images.nextPage }}" src="{{ pagerfanta_page_url(images, images.nextPage) }}" loading="lazy"></turbo-frame>
  {% endif %}
 </turbo-frame>
</section>
{% endblock %}
