@import '~bootstrap';

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");


header {
	background-color: rgb(14, 143, 186);
}

header #authentication_menu {
	background-color: black;
}

.fabs {
	--_viewport-margin: 2.5vmin;

	position: fixed;
	z-index: var(--layer-1);

	inset-block: auto var(--_viewport-margin);
	inset-inline: auto var(--_viewport-margin);

    display: flex;
    flex-direction: column-reverse;
    place-items: center;
    gap: var(--_viewport-margin);
}

.fab {
    --_size: 2rem;

    padding: calc(var(--_size) / 2);
    border-radius: 50%; /* var(--radius-round); */
    aspect-ratio: 1;
    box-shadow: var(--shadow-4);

    background: green;
    color: white;
}

.fab i {
    font-size: 2.5rem;
    font-weight: bold;
}

.fab:hover {
	box-shadow: 0 6px 14px 0 #666;
	transform: scale(1.1);
}
 

.card {
	transition: 0.2s;
}

.card:hover {
	transform: scale(1.025);
}

.card .badge {
	font-size: 1.25rem;
	font-weight: 400;
}