{% extends 'base.html.twig' %}

{% block page_title -%}
{{ 'manage_talks.caption' | trans({}, 'admin') }}
{%- endblock %}

{% block content %}
{% trans_default_domain "entity" %}
<section id="talks">
 <h4>{{ 'manage_talks.talks.caption' | trans({}, 'admin') }}</h4>
 <div class="filter mb-3">
  <form action="{{ path('manageTalks', {  }) }}" method="get">
   <div class="input-group">
    <input type="text" name="title" class="form-control" placeholder="Title" required="required" value="{{ app.request.query.get('title') }}"/>
    <button type="submit" name="titleLikeFilter" class="btn btn-outline-secondary"><i class="material-icons">search</i></button>
   </div>
  </form>
 </div>
 <table class="">
  <thead class="unit_header">
   <tr>
    <th>{{ 'manage_talks.talks.start.caption' | trans({}, 'admin') }}</th>
    <th>{{ 'event.title.caption' | trans }}</th>
    <th>{{ 'talk.presenters.caption' | trans }}</th>
    <th>Actions</th>
   </tr>
  </thead>
  <tbody>
 {% for entry in talks %}
   <tr class="{{ cycle(['odd_row', 'even_row'], loop.index0) }}">
    <td class="start">{{ entry.event.start | date('jS F Y') }}</td>
    <td class="title">{{ entry.event.title }}</td>
    <td class="presenters">{% for value in entry.presenters %}<div>{{ value.defaultLabel() }}</div>{% endfor %}</td>
    <td class="actions"><a href="{{ path('manageTalks_update', app.request.query.all|merge({ 'title': entry.event.title, })) }}" title="Edit {{ entry.defaultLabel() }}"><i class="bi bi-pencil"></i></a>
    <a href="{{ path('manageTalks_delete', app.request.query.all|merge({ 'title': entry.event.title, })) }}" title="Delete {{ entry.defaultLabel() }}" onclick="return confirm('Delete? {{ entry.defaultLabel() }}');"><i class="bi bi-trash"></i></a></td>
   </tr>
 {% endfor %}
  </tbody>
 </table>
 {{ pagerfanta(talks) }}
</section>
{% endblock %}
