{% extends 'base.html.twig' %}

{% block page_title -%}
{{ 'manage_events.caption' | trans({}, 'admin') }}
{%- endblock %}

{% block metas %}
<meta name="turbo-cache-control" content="no-preview">
{% endblock %}

{% block content %}
{% trans_default_domain "entity" %}
{% trans_default_domain "admin" %}
<section id="editEvent">
<h4>{{ 'manage_events.edit_event.caption' | trans }}</h4>
{{ form_start(editEvent, { attr: { id: 'event', class: 'container border rounded g-0 pt-2' }}) }}
 {{ form_errors(editEvent) }}
 {{ form_row(editEvent.category, { row_attr: { class: 'px-2 mb-3' },}) }}
 {{ form_row(editEvent.draft, { row_attr: { class: 'px-2 mb-3' },}) }}
 {{ form_row(editEvent.cancelled, { row_attr: { class: 'px-2 mb-3' },}) }}
 {{ form_row(editEvent.postponed, { row_attr: { class: 'px-2 mb-3' },}) }}
 {{ form_row(editEvent.start, { row_attr: { class: 'px-2 mb-3' },}) }}
 {{ form_row(editEvent.duration, { row_attr: { class: 'px-2 mb-3' },}) }}
 {{ form_row(editEvent.title, { row_attr: { class: 'px-2 mb-3' },}) }}
 {{ form_row(editEvent.organisedBy, { row_attr: { class: 'px-2 mb-3' },}) }}
 {{ form_row(editEvent.venue, { row_attr: { class: 'px-2 mb-3' },}) }}
 {{ form_row(editEvent.publicise, { row_attr: { class: 'px-2 mb-3' },}) }}
<div class="d-flex justify-content-center bg-light border-top p-2">
 <button type="submit" name="submit" class="btn border rounded mx-2 my-1">{{ 'admin.labels.submit' | trans }}</button>
 <input type="submit" name="cancel" class="btn border rounded mx-2 my-1" value="{{ 'admin.labels.cancel' | trans }}" formnovalidate/>
 <input type="reset" name="clear" class="btn border rounded mx-2 my-1" value="Clear"/>
</div>
{{ form_row(editEvent._token) }}
{{ form_end(editEvent, {'render_rest': false}) }}
</section>
{% endblock %}
