{% extends 'base.html.twig' %}

{% block page_title -%}
{{ 'manage_events.caption' | trans({}, 'admin') }}
{%- endblock %}

{% block metas %}
<meta name="turbo-cache-control" content="no-preview">
{% endblock %}

{% block content %}
{% trans_default_domain "entity" %}
{% trans_default_domain "admin" %}
<section id="editVenue">
<h4>{{ 'manage_events.edit_venue.caption' | trans }}</h4>
<div id="manageEvents_editVenue">
 <?php
	echo Form::input('manageEvents_editVenue_autocomplete', NULL,
		array(
			'id' => 'manageEvents_editVenue_autocomplete',
//			'class' => 'field.styleClass()/] field.inputClass()/]',
	));
?>
 <div id="manageEvents_editVenue_map" class="map-canvas"></div>
 <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
 <script>
var map;
var marker;
var infoWindow;
var autocomplete;
var geocoder;

function initialize() {
	var mapOptions = {
		zoom: 12
	};
	map = new google.maps.Map(document.getElementById('manageEvents_editVenue_map'), mapOptions);
	input = document.getElementById('manageEvents_editVenue_autocomplete');
	map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
	marker = new google.maps.Marker();
	infoWindow = new google.maps.InfoWindow();
	autocomplete = new google.maps.places.Autocomplete(input);
	autocomplete.bindTo('bounds', map);
	geocoder = new google.maps.Geocoder();

	if(navigator.geolocation) {
		navigator.geolocation.getCurrentPosition(
			function(position) {
				map.setCenter(new google.maps.LatLng(
					position.coords.latitude, position.coords.longitude));
			},
			function() {
				handleNoGeolocation(true);
		});
	} else {
		handleNoGeolocation(false);
	}

	google.maps.event.addListener(map, 'click', function(event) {
		geocoder.geocode({'latLng': event.latLng}, function(results, status) {
			if (status == google.maps.GeocoderStatus.OK) {
				if (results[1]) {
					var contentString = $('<div class="marker-info-win">' +
						'<p class="place-address">' + results[1].formatted_address + '</p>' +
						'<?php
							echo Form::button('editVenue', 'Save', array(
								'type' => 'submit',
								'class' => 'save-marker'
							));
						?></div>');    
					showPlace(results[1].formatted_address, event.latLng, contentString);
 				} else {
					setMarker(event.latLng);
				}
			} else {
				setMarker(event.latLng);
			}
		});
	});

	google.maps.event.addListener(autocomplete, 'place_changed', function() {
		var place = autocomplete.getPlace();
		if (place.geometry) {
			var contentString = $('<div class="marker-info-win">' +
				'<h4 class="place-name">' + place.name + '</h4>' +
				'<p class="place-address">' + place.formatted_address + '</p>' +
				'<?php
					echo Form::button('editVenue', 'Save', array(
						'type' => 'submit',
						'class' => 'save-marker'
					));
				?></div>');    
			showPlace(place.name, place.geometry.location, contentString);
		} else {
			document.getElementById('manageEvents_editVenue_input').placeholder = 'Enter a location';
		}
	});
}

function setMarker(latLng) {
	marker.setMap(map);
	marker.setPosition(latLng);
}

function showPlace(name, latLng, contentString) {
	infoWindow.setContent(contentString[0]);
	infoWindow.setPosition(latLng);
	infoWindow.set('name', name);
	infoWindow.open(map);
  
  	var saveBtn = contentString.find('button.save-marker')[0];
		
	if(typeof saveBtn !== 'undefined') {
		google.maps.event.addDomListener(saveBtn, 'click', function(event) {
			saveMarker();
		});
	}
}

function saveMarker() {
	var myData = {
		name: infoWindow.get('name'),
		location_latitude: infoWindow.getPosition().lat(),
		location_longitude: infoWindow.getPosition().lng()
	};
	$.ajax({
		type: "POST",
		url: "<?php
			echo Route::get('')->uri(array(
				'action' => 'editVenue',
				'param' => 'submit'
			));
?>",
		data: myData,
		success: function(data) {
			marker.setMap(map);
			marker.setPosition(infoWindow.getPosition());
			infoWindow.close();
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError);
		}
	});
}

function handleNoGeolocation(errorFlag) {
  if (errorFlag) {
    var content = 'Error: The Geolocation service failed.';
  } else {
    var content = 'Error: Your browser doesn\'t support geolocation.';
  }

  var options = {
    map: map,
    position: new google.maps.LatLng(60, 105),
    content: content
  };

  var infowindow = new google.maps.InfoWindow(options);
  map.setCenter(options.position);
}

google.maps.event.addDomListener(window, 'load', initialize);
 </script>
</div>

</section>
{% endblock %}
