{% extends 'base.html.twig' %}

{% block page_title -%}
{{ 'manage_events.caption' | trans({}, 'admin') }}
{%- endblock %}

{% block content %}
{% trans_default_domain "entity" %}
<section id="events">
<h4>{{ 'manage_events.events.caption' | trans({}, 'admin') }}</h4>
 <div class="filter mb-3">
  <form action="{{ path('manageEvents', {  }) }}" method="get">
   <div class="input-group">
    <input type="text" name="eventTitle" class="form-control" placeholder="Title" required="required" value="{{ app.request.query.get('eventTitle') }}"/>
    <button type="submit" name="titleLikeFilter" class="btn btn-outline-secondary"><i class="material-icons">search</i></button>
   </div>
  </form>
 </div>
 <div class="fabs" role="group" aria-label="Floating action buttons">
  <a href="{{ path('manageEvents_createEvent', app.request.query.all|merge({  })) }}" class="fab text-light" title="Add Event"><i class="bi bi-plus"></i></a>
  <a href="{{ path('manageEvents_syllabus') }}" class="fab text-light" title="Syllabus">{{ 'manage_events.events.actions.syllabuslabel' | trans( {}, 'admin') }}</a>
  <a href="{{ path('manageEvents_syllabusNext') }}" class="fab text-light" title="Syllabus Next">{{ 'manage_events.events.actions.syllabus_nextlabel' | trans( {}, 'admin') }}</a>
 </div>
 <turbo-frame id="events-{{ events.currentPage }}" target="_top">
 <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-3">
 {% for event in events %}
  <div class="col">
   <div class="card rounded shadow-sm h-100">
    <div class="card-header d-flex justify-content-end">
     {%- if event.publicise == 1 -%}<span class="badge bg-light text-dark"><i class="bi bi-eye"></i></span>{%- endif -%}
     {%- if event.publicise != 1 -%}<span class="badge bg-light text-dark"><i class="bi bi-eye-slash"></i></span>{%- endif -%}
     {%- if event.draft == 1 -%}<span class="badge bg-light text-dark" title="{{ 'event.draft.caption' | trans }}"><i class="bi bi-screwdriver"></i></span>{%- endif -%}
     {%- if event.cancelled == 1 -%}<span class="badge bg-light text-dark"><i class="bi bi-x-circle-fill"></i></span>{%- endif -%}
     {%- if event.postponed == 1 -%}<span class="badge bg-light text-dark"><i class="bi bi-box-arrow-right"></i></span>{%- endif -%}
    </div>
    <div class="card-body">
     <div class="card-image img-fluid">
      <time datetime="{{ event.start | date }}" class="xxxx">
       <em>{{ event.start | date('l') }}</em>
       <strong>{{ event.start | date('j') }}</strong>
       <em>{{ event.start | date('F') }}</em>
      </time>
     </div>
     <h5 class="card-title text-truncate">{{ event.title }}</h5>
     <ul class="list-unstyled">
      <li class="text-truncate">{{ event.organisedBy.defaultLabel() }}</li>
      {% if not (event.venue is null) -%}
      <li class="text-truncate">{{ event.venue.defaultLabel() }}</li>
      {%- endif %}
     </ul>
    </div>
    <div class="card-footer">
     <nav class="nav nav-pills justify-content-center">
      <a href="{{ path('manageEvents_updateEvent', app.request.query.all|merge({ 'title': event.title, })) }}" class="bg-light border border-dark nav-link m-1" title="Edit {{ event.defaultLabel() }}"><i class="bi bi-pencil"></i></a>
      <a href="{{ path('manageEvents_deleteEvent', app.request.query.all|merge({ 'title': event.title, })) }}" class="bg-light border border-dark nav-link m-1" title="Delete {{ event.defaultLabel() }}" onclick="return confirm('Delete? {{ event.defaultLabel() }}');"><i class="bi bi-trash"></i></a>
     </nav>
    </div>
   </div>
  </div>
 {% endfor %}
 </div>
  {% if events.hasNextPage %}
  <turbo-frame id="events-{{ events.nextPage }}" src="{{ pagerfanta_page_url(events, events.nextPage) }}" loading="lazy"></turbo-frame>
  {% endif %}
 </turbo-frame>
</section>
{% endblock %}
