{% extends 'base.html.twig' %}

{% block page_title -%}
{{ 'manage_events.caption' | trans({}, 'admin') }}
{%- endblock %}

{% block content %}
{% trans_default_domain "entity" %}
<section id="venues">
 <h4>{{ 'manage_events.venues.caption' | trans({}, 'admin') }}</h4>
 <table class="">
  <thead class="unit_header">
   <tr>
    <th>{{ 'venue.name.caption' | trans }}</th>
    <th>{{ 'venue.location.caption' | trans }}</th>
    <th>Actions</th>
   </tr>
  </thead>
  <tbody>
 {% for entry in venues %}
   <tr class="{{ cycle(['odd_row', 'even_row'], loop.index0) }}">
    <td class="name">{{ entry.name }}</td>
    <td class="location"></td>
    <td class="actions"><a href="{{ path('manageEvents_editVenue', app.request.query.all|merge({ 'name': entry.name, })) }}" title="Edit {{ entry.defaultLabel() }}"><i class="bi bi-pencil"></i></a>
    <a href="{{ path('manageEvents_deleteVenue', app.request.query.all|merge({ 'name': entry.name, })) }}" title="Delete {{ entry.defaultLabel() }}" onclick="return confirm('Delete? {{ entry.defaultLabel() }}');"><i class="bi bi-trash"></i></a></td>
   </tr>
 {% endfor %}
  </tbody>
 </table>
</section>
{% endblock %}
