{% extends 'base.html.twig' %}

{% block page_title -%}
{{ 'manage_authentications.caption' | trans({}, 'admin') }}
{%- endblock %}

{% block content %}
{% trans_default_domain "entity" %}
<section id="authentications">
<h4>{{ 'manage_authentications.authentications.caption' | trans({}, 'admin') }}</h4>
 <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-3">
 {% for authentication in authentications %}
  <div class="col">
   <div class="card rounded shadow-sm h-100">
    <div class="card-body">
     <h5 class="card-title">{{ authentication.username }}</h5>
     <dl>
      <dt>{{ 'authentication.email.caption' | trans }}</dt>
      <dd class="text-truncate">{{ authentication.email }}</dd>
      <dt>{{ 'authentication.roles.caption' | trans }}</dt>
      <dd>{% for value in authentication.roles %}<div>{{ value }}</div>{% endfor %}</dd>
     </dl>
    </div>
    {% if is_granted('ROLE_SECURITY') %}
    <div class="card-footer">
     <nav class="nav nav-pills justify-content-center">
      {% if is_granted('ROLE_SECURITY') %}<a href="{{ path('manageAuthentications_update', app.request.query.all|merge({ 'email': authentication.email, })) }}" class="bg-light border border-dark nav-link m-1" title="Update {{ authentication.defaultLabel() }}">{{ 'manage_authentications.authentications.actions.updatelabel' | trans( {}, 'admin') }}</a>{% endif %}
      {% if is_granted('ROLE_SECURITY') %}<a href="{{ path('manageAuthentications_delete', app.request.query.all|merge({ 'email': authentication.email, })) }}" class="bg-light border border-dark nav-link m-1" title="Delete {{ authentication.defaultLabel() }}" onclick="return confirm('Delete authentication? {{ authentication.defaultLabel() }}');">{{ 'manage_authentications.authentications.actions.deletelabel' | trans( {}, 'admin') }}</a>{% endif %}
     </nav>
    </div>
    {% endif %}
   </div>
  </div>
 {% endfor %}
 </div>
</section>
{% endblock %}
