{% extends 'base.html.twig' %}

{% block page_title -%}
{{ 'manage_authentications.caption' | trans({}, 'admin') }}
{%- endblock %}

{% block metas %}
<meta name="turbo-cache-control" content="no-preview">
{% endblock %}

{% block content %}
{% trans_default_domain "entity" %}
{% trans_default_domain "admin" %}
<section id="update">
<h4>{{ 'manage_authentications.update.caption' | trans }}</h4>
{{ form_start(update, { attr: { id: 'authentication', class: 'container border rounded g-0 pt-2' }}) }}
 {{ form_errors(update) }}
 {{ form_row(update.username, { row_attr: { class: 'px-2 mb-3' },}) }}
 {{ form_row(update.enabled, { row_attr: { class: 'px-2 mb-3' },}) }}
 {{ form_row(update.email, { row_attr: { class: 'px-2 mb-3' },}) }}
 {{ form_row(update.emailVerified, { row_attr: { class: 'px-2 mb-3' },}) }}
 {{ form_row(update.localed, { row_attr: { class: 'px-2 mb-3' },}) }}
 {{ form_row(update.expired, { row_attr: { class: 'px-2 mb-3' },}) }}
 {{ form_row(update.expiresAt, { row_attr: { class: 'px-2 mb-3' },}) }}
 {{ form_row(update.passwordChangedAt, { row_attr: { class: 'px-2 mb-3' },}) }}
 {{ form_row(update.credentialsExpired, { row_attr: { class: 'px-2 mb-3' },}) }}
 {{ form_row(update.credentialsExpireAt, { row_attr: { class: 'px-2 mb-3' },}) }}
 {{- form_label(update.roles) -}}
  <div class="roles framed" data-prototype="{{ form_widget(update.roles.vars.prototype)|e('html_attr') }}">
   {% for entry in update.roles %}
   <div{% if entry.vars.errors | length > 0 %} class="error"{% endif %}>
    {{- form_widget(entry) -}}
    {{- form_errors(entry) -}}
   </div>
   {% endfor %}
  </div>
 {{ form_row(update.lastLogin, { row_attr: { class: 'px-2 mb-3' },}) }}
<div class="d-flex justify-content-center bg-light border-top p-2">
 <button type="submit" name="submit" class="btn border rounded mx-2 my-1">{{ 'admin.labels.submit' | trans }}{% if update.vars.data.id is null %} disabled="disabled"{% endif %}</button>
</div>
{{ form_row(update._token) }}
{{ form_end(update, {'render_rest': false}) }}
</section>
{% endblock %}
