{% extends 'base.html.twig' %}

{% block page_title -%}
{{ 'galleries.caption' | trans({}, 'default') }}
{%- endblock %}

{% block content %}
{% trans_default_domain "entity" %}
<section id="galleries">
<h4>{{ 'galleries.galleries.caption' | trans({}, 'default') }}</h4>
 <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-3">
 {% for person in galleries %}
  <div class="col">
   <div class="card rounded shadow-sm h-100">
    <div class="card-body">
     <a href="{{ path('galleries_gallery', { 'username': person.username, }) }}" class="bg-light border border-dark nav-link m-1" title="Show {{ person.defaultLabel() }}">{%- if person.showcaseImage is not empty -%}
       {%- if person.showcaseImage.filePath is not empty -%}
       <img class="card-img-top" src="{{ person.showcaseImage.filePath | imagine_filter('public_grid') }}" alt="{{ person.defaultLabel() }}" title="{{ person.defaultLabel() }}"/>
       {%- else -%}
       <img src="{{ 'images/awaitingImage.png' | imagine_filter('public_grid') }}" alt="{{ person.defaultLabel() }}" title="{{ person.defaultLabel() }}"/>
       {%- endif -%}
       {%- else -%}
       <img src="{{ 'images/awaitingImage.png' | imagine_filter('public_grid') }}" alt="{{ person.defaultLabel() }}" title="{{ person.defaultLabel() }}"/>
       {%- endif -%}</a>
     <h5 class="card-title mt-2">{{ person.defaultLabel() }}</h5>
    </div>
   </div>
  </div>
 {% endfor %}
 </div>
</section>
{% endblock %}
