{% trans_default_domain "entity" %}
<section id="gallery">
<h4>{{ person.defaultLabel() }}</h4>
 <div class="">
  <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
   <div class="slides"></div>
   <h3 class="title"></h3>
   <a class="prev">&lt;</a>
   <a class="next">&gt;</a>
   <a class="play-pause"></a>
   <ol class="indicator"></ol>
  </div>
  <div id="links">
  {% for image in gallery %}
   {%- if image.filePath is not empty -%}
   <a href="{{ image.filePath | imagine_filter('public_large_boarderless') }}" title="{{ image.title }}">
    <img src="{{ image.filePath | imagine_filter('public_grid') }}" alt="{{ image.title }}" title="{{ image.title }}"/>
   </a>
   {%- else -%}
   <a href="{{ 'images/awaitingImage.png' | imagine_filter('public_large_boarderless') }}" title="{{ image.title }}">
    <img src="{{ 'images/awaitingImage.png' | imagine_filter('public_grid') }}" alt="{{ image.title }}" title="{{ image.title }}"/>
   </a>
   {%- endif -%}
  {% endfor %}
  </div>
  <script src="{{ asset('js/blueimp-gallery.min.js') }}"></script>
  <script>
  document.getElementById('links').onclick = function (event) {
      event = event || window.event;
      var target = event.target || event.srcElement,
          link = target.src ? target.parentNode : target,
          options = {
              index: link,
              event: event
          },
          links = this.getElementsByTagName('a');
      blueimp.Gallery(links, options);
  };
  </script>
 </div>
</section>
