{% extends 'base.html.twig' %}

{% block page_title -%}
{{ 'manage_competitions.caption' | trans({}, 'admin') }}
{%- endblock %}

{% block content %}
{% trans_default_domain "entity" %}
<section id="awards">
<h4>{{ competition.defaultLabel() }}</h4>
 <turbo-frame id="awards-{{ awards.currentPage }}" target="_top">
 <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-3">
 {% for competitionAward in awards %}
  <div class="col">
   <div class="card rounded shadow-sm h-100">
    <div class="card-body">
     
     <dl>
      <dt>{{ 'competition_award.award.caption' | trans }}</dt>
      <dd>{{ competitionAward.award | awardsCompetition | trans({}, 'entity') }}</dd>
      <dt>{{ 'competition_award.entry.caption' | trans }}</dt>
      <dd>{{ competitionAward.entry.defaultLabel() }}</dd>
     </dl>
    </div>
   </div>
  </div>
 {% endfor %}
 </div>
  {% if awards.hasNextPage %}
  <turbo-frame id="awards-{{ awards.nextPage }}" src="{{ pagerfanta_page_url(awards, awards.nextPage) }}" loading="lazy"></turbo-frame>
  {% endif %}
 </turbo-frame>
</section>
{% endblock %}
