{% extends 'base.html.twig' %}

{% block page_title -%}
{{ 'manage_competitions.caption' | trans({}, 'admin') }}
{%- endblock %}

{% block content %}
{% trans_default_domain "entity" %}
<section id="categories">
<h4>{{ 'manage_competitions.categories.caption' | trans({}, 'admin') }}</h4>
 <turbo-frame id="categories-{{ categories.currentPage }}" target="_top">
 <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-3">
 {% for competitionCategory in categories %}
  <div class="col">
   <div class="card rounded shadow-sm h-100">
    <div class="card-body">
     <h5 class="card-title">{{ competitionCategory.shortName }}</h5>
     <ul class="list-unstyled">
      {% if not (competitionCategory.fullName is null) -%}
      <li class="text-truncate">{{ competitionCategory.fullName }}</li>
      {%- endif %}
     </ul>
    </div>
   </div>
  </div>
 {% endfor %}
 </div>
  {% if categories.hasNextPage %}
  <turbo-frame id="categories-{{ categories.nextPage }}" src="{{ pagerfanta_page_url(categories, categories.nextPage) }}" loading="lazy"></turbo-frame>
  {% endif %}
 </turbo-frame>
</section>
{% endblock %}
