{% extends 'base.html.twig' %}

{% block page_title -%}
{{ 'manage_competitions.caption' | trans({}, 'admin') }}
{%- endblock %}

{% block content %}
{% trans_default_domain "entity" %}
<section id="competitions">
<h4>{{ 'manage_competitions.competitions.caption' | trans({}, 'admin') }}</h4>
 <div class="filter mb-3">
  <form action="{{ path('manageCompetitions', {  }) }}" method="get">
   <div class="input-group">
    <input type="text" name="competitionTitle" class="form-control" placeholder="Title" required="required" value="{{ app.request.query.get('competitionTitle') }}"/>
    <button type="submit" name="titleLikeFilter" class="btn btn-outline-secondary"><i class="material-icons">search</i></button>
   </div>
  </form>
 </div>
 <div class="fabs" role="group" aria-label="Floating action buttons">
  <a href="{{ path('manageCompetitions_createCompetition', app.request.query.all|merge({  })) }}" class="fab text-light" title="Add Competition">{{ 'manage_competitions.competitions.actions.addlabel' | trans( {}, 'admin') }}</a>
 </div>
 <turbo-frame id="competitions-{{ competitions.currentPage }}" target="_top">
 <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-3">
 {% for competition in competitions %}
  <div class="col">
   <div class="card rounded shadow-sm h-100">
    <div class="card-body">
     <h5 class="card-title text-truncate">{{ competition.event.title }}</h5>
     <dl>
      <dt>{{ 'manage_competitions.competitions.start.caption' | trans({}, 'admin') }}</dt>
      <dd>{{ competition.event.start | date('jS M Y') }}</dd>
      <dt>{{ 'manage_competitions.competitions.forenames.caption' | trans({}, 'admin') }}</dt>
      <dd>{{ competition.secretary.forenames | default('TBC') }}</dd>
      <dt>{{ 'competition.judges.caption' | trans }}</dt>
      <dd>{% for value in competition.judges %}<div>{% if is_granted('ROLE_PEOPLE_MANAGER') %}<a href="{{ path('managePeople_participation', { 'username': value.username, }) }}" title="Info {{ value.nameWithDistinctionsLabel() }}">{{ value.nameWithDistinctionsLabel() }}</a>{% endif %}</div>{% else %}{{ 'TBC' }}{% endfor %}</dd>
     </dl>
    </div>
    <div class="card-footer">
     <nav class="nav nav-pills justify-content-center">
      <a href="{{ path('manageCompetitions_updateCompetition', app.request.query.all|merge({ 'title': competition.event.title, })) }}" class="bg-light border border-dark nav-link m-1" title="Edit {{ competition.defaultLabel() }}"><i class="bi bi-pencil"></i></a>
      <a href="{{ path('manageCompetition', app.request.query.all|merge({ 'title': competition.event.title, })) }}" class="bg-light border border-dark nav-link m-1" title="Details {{ competition.defaultLabel() }}">{{ 'manage_competitions.competitions.actions.detailslabel' | trans( {}, 'admin') }}</a>
      <a href="{{ path('manageCompetitions_sections', { 'title': competition.event.title, }) }}" class="bg-light border border-dark nav-link m-1" title="Sections {{ competition.defaultLabel() }}">{{ 'manage_competitions.competitions.actions.sectionslabel' | trans( {}, 'admin') }}</a>
      <a href="{{ path('manageEntries', { 'title': competition.event.title, }) }}" class="bg-light border border-dark nav-link m-1" title="Authors {{ competition.defaultLabel() }}"><i class="bi bi-people"></i></a>
      <a href="{{ path('manageCompetitions_awards', { 'title': competition.event.title, }) }}" class="bg-light border border-dark nav-link m-1" title="Awards {{ competition.defaultLabel() }}"><i class="bi bi-award"></i></a>
      <a href="{{ path('manageCompetitions_deleteCompetition', app.request.query.all|merge({ 'title': competition.event.title, })) }}" class="bg-light border border-dark nav-link m-1" title="Delete {{ competition.defaultLabel() }}" onclick="return confirm('Delete? {{ competition.defaultLabel() }}');"><i class="bi bi-trash"></i></a>
     </nav>
    </div>
   </div>
  </div>
 {% endfor %}
 </div>
  {% if competitions.hasNextPage %}
  <turbo-frame id="competitions-{{ competitions.nextPage }}" src="{{ pagerfanta_page_url(competitions, competitions.nextPage) }}" loading="lazy"></turbo-frame>
  {% endif %}
 </turbo-frame>
</section>
{% endblock %}
