{% extends 'base.html.twig' %}

{% block page_title -%}
{{ 'manage_competitions.caption' | trans({}, 'admin') }}
{%- endblock %}

{% block metas %}
<meta name="turbo-cache-control" content="no-preview">
{% endblock %}

{% block content %}
{% trans_default_domain "entity" %}
{% trans_default_domain "admin" %}
<section id="editAward">
<h4>{{ 'manage_competitions.edit_award.caption' | trans }}</h4>
{{ form_start(editAward, { attr: { id: 'competition_award', class: 'container border rounded g-0 pt-2' }}) }}
 {{ form_errors(editAward) }}
 {{ form_row(editAward.award, { row_attr: { class: 'px-2 mb-3' },}) }}
 {{ form_row(editAward.entry, { row_attr: { class: 'px-2 mb-3' },}) }}
<div class="d-flex justify-content-center bg-light border-top p-2">
 <button type="submit" name="submit" class="btn border rounded mx-2 my-1">{{ 'admin.labels.submit' | trans }}</button>
 <input type="submit" name="cancel" class="btn border rounded mx-2 my-1" value="{{ 'admin.labels.cancel' | trans }}" formnovalidate/>
</div>
{{ form_row(editAward._token) }}
{{ form_end(editAward, {'render_rest': false}) }}
</section>
{% endblock %}
