{% extends 'base.html.twig' %}

{% block page_title -%}
{{ 'manage_competitions.caption' | trans({}, 'admin') }}
{%- endblock %}

{% block content %}
{% trans_default_domain "entity" %}
<section id="sections">
 <h4>{{ competition.defaultLabel() }}</h4>
 <table class="">
  <thead class="unit_header">
   <tr>
    <th>{{ 'competition_section.order.caption' | trans }}</th>
    <th>{{ 'competition_section.title.caption' | trans }}</th>
    <th>{{ 'manage_competitions.sections.maximum_entries.caption' | trans({}, 'admin') }}</th>
    <th>Actions</th>
   </tr>
  </thead>
  <tbody>
 {% for entry in sections %}
   <tr class="{{ cycle(['odd_row', 'even_row'], loop.index0) }}">
    <td class="order">{{ entry.order }}</td>
    <td class="title">{{ entry.title }}</td>
    <td class="maximum_entries">{{ entry.maximumEntries }}</td>
    <td class="actions"><a href="{{ path('manageCompetitions_updateSection', app.request.query.all|merge({ 'eventTitle': entry.partOf.event.title,
    'competitionSectionTitle': entry.title, })) }}" title="Edit {{ entry.defaultLabel() }}"><i class="bi bi-pencil"></i></a>
    <a href="{{ path('manageEntries_sectionEntries', { 'eventTitle': entry.partOf.event.title,
    'competitionSectionTitle': entry.title, }) }}" title="Entries {{ entry.defaultLabel() }}">{{ 'manage_competitions.sections.actions.entrieslabel' | trans( {}, 'admin') }}</a>
    <a href="{{ path('manageCompetitions_deleteCompetitionSection', app.request.query.all|merge({ 'eventTitle': entry.partOf.event.title,
    'competitionSectionTitle': entry.title, })) }}" title="Delete {{ entry.defaultLabel() }}" onclick="return confirm('Delete? {{ entry.defaultLabel() }}');"><i class="bi bi-trash"></i></a></td>
   </tr>
 {% endfor %}
  </tbody>
  <tfoot>
   <tr>
    <a href="{{ path('manageCompetitions_addMeritsSections', app.request.query.all|merge({ 'title': competition.event.title, })) }}" title="Add Merits {{ competition.defaultLabel() }}">{{ 'manage_competitions.sections.actions.add_merits_sectionslabel' | trans( {}, 'admin') }}</a>
    <a href="{{ path('manageCompetitions_addQuarterlySections', app.request.query.all|merge({ 'title': competition.event.title, })) }}" title="Add Quarterly {{ competition.defaultLabel() }}">{{ 'manage_competitions.sections.actions.add_quarterly_sectionslabel' | trans( {}, 'admin') }}</a>
    <a href="{{ path('manageCompetitions_exportCertificates', app.request.query.all|merge({ 'title': competition.event.title, })) }}" title="Certificates {{ competition.defaultLabel() }}">{{ 'manage_competitions.sections.actions.export_certificateslabel' | trans( {}, 'admin') }}</a>
   </tr>
  </tfoot>
 </table>
</section>
{% endblock %}
