{% use "bootstrap_5_layout.html.twig" %}

{% block form_row -%}
  {%- if compound is defined and compound -%}
    {%- set element = 'fieldset' -%}
  {%- endif -%}
  {%- set row_attr = row_attr|merge({class: (row_attr.class|default('px-2 mb-3')) }) -%}
  {%- set widget_attr = {} -%}
  {%- if help is not empty -%}
    {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
  {%- endif -%}
  <{{ element|default('div') }}{% with {attr: row_attr|merge({class: (row_attr.class|default('') ~ ' form-floating')|trim})} %}{{ block('attributes') }}{% endwith %}>
    {{- form_widget(form, widget_attr) -}}
    {{- form_label(form) -}}
    {{- form_help(form) -}}
  </{{ element|default('div') }}>
{%- endblock form_row %}

