{% trans_default_domain "entity" %}
<section id="authorLink">
 <h4>{{ authorLink.title }}</h4>
 <ul class="list-unstyled">
  <li><a href="{{ path('managePeople_images', { 'username': authorLink.author.username, }) }}" title="Author {{ authorLink.author.defaultLabel() }}">{{ authorLink.author.defaultLabel() }}</a></li>
 </ul>
</section>
