{% trans_default_domain "entity" %}
<section id="entries">
 <h4>{{ 'manage_image_entries.entries.caption' | trans({}, 'admin') }}</h4>
 <table class="">
  <thead class="unit_header">
   <tr>
    <th>{{ 'image_variant.description.caption' | trans }}</th>
    <th>{{ 'manage_image_entries.entries.removed.caption' | trans({}, 'admin') }}</th>
    <th>{{ 'manage_image_entries.entries.disqualified.caption' | trans({}, 'admin') }}</th>
    <th>{{ 'competition_section.part_of.caption' | trans }}</th>
    <th>{{ 'section_entry.entered_in.caption' | trans }}</th>
    <th>{{ 'section_entry.score.caption' | trans }}</th>
    <th>{{ 'section_entry.title.caption' | trans }}</th>
   </tr>
  </thead>
  <tbody>
 {% for entry in entries %}
   <tr class="{{ cycle(['odd_row', 'even_row'], loop.index0) }}">
    <td class="description">{{ entry.imageVariant.description }}</td>
    <td class="removed"><label for="removed"{% if not entry.removed %} hidden="hidden"{% endif %}>
     <input type="checkbox" id="removed" checked="checked" disabled="disabled"/>
     <span></span>
    </label></td>
    <td class="disqualified"><label for="disqualified"{% if not entry.disqualified %} hidden="hidden"{% endif %}>
     <input type="checkbox" id="disqualified" checked="checked" disabled="disabled"/>
     <span></span>
    </label></td>
    <td class="part_of">{{ entry.enteredIn.partOf.defaultLabel() }}</td>
    <td class="entered_in">{{ entry.enteredIn.defaultLabel() }}</td>
    <td class="score">{{ entry.score }}</td>
    <td class="title">{{ entry.title }}</td>
   </tr>
 {% endfor %}
  </tbody>
 </table>
</section>
