{% extends 'base.html.twig' %}

{% block page_title -%}
{{ 'manage_image_entries.caption' | trans({}, 'admin') }}
{%- endblock %}

{% block content %}
{{ include('admin/manage_image_entries/author_link.html.twig') }}
{{ include('admin/manage_image_entries/variants.html.twig') }}
{{ include('admin/manage_image_entries/entries.html.twig') }}
{% endblock %}
