{% extends 'base.html.twig' %}

{% block page_title -%}
{{ 'manage_cumulative.caption' | trans({}, 'admin') }}
{%- endblock %}

{% block content %}
{% trans_default_domain "entity" %}
<section id="competitions">
<h4>{{ cumulativeGroup.name }}</h4>
 <div class="fabs" role="group" aria-label="Floating action buttons">
  <a href="{{ path('manageCumulative_createCompetition', app.request.query.all|merge({ 'name': cumulativeGroup.name, })) }}" class="fab text-light" title="Add points competition {{ cumulativeGroup.defaultLabel() }}"><i class="bi bi-plus"></i></a>
 </div>
 <div class="row row-cols-1 row-cols-md-2 g-3">
 {% for cumulativeCompetition in competitions %}
  <div class="col">
   <div class="card rounded shadow-sm h-100">
    <div class="card-header d-flex justify-content-end">
     {%- if not cumulativeCompetition.private -%}<span class="badge bg-light text-dark"><i class="bi bi-eye"></i></span>{%- endif -%}
     {%- if cumulativeCompetition.private -%}<span class="badge bg-light text-dark"><i class="bi bi-eye-slash"></i></span>{%- endif -%}
    </div>
    <div class="card-body">
     <h5 class="card-title text-truncate">{{ cumulativeCompetition.name }}</h5>
     <ul class="list-unstyled">
      <li>{% for value in cumulativeCompetition.fromSections %}<div>{{ value.CompetitionAndSectionLabel() }}</div>{% else %}{{ 'No contributing sections' }}{% endfor %}</li>
     </ul>
    </div>
    <div class="card-footer">
     <nav class="nav nav-pills justify-content-center">
      <a href="{{ path('manageCumulative_updateCompetition', app.request.query.all|merge({ 'cumulativeGroupName': cumulativeCompetition.partOf.name,
      'cumulativeCompetitionName': cumulativeCompetition.name, })) }}" class="bg-light border border-dark nav-link m-1" title="Edit {{ cumulativeCompetition.defaultLabel() }}"><i class="bi bi-pencil"></i></a>
      <a href="{{ path('manageCumulative_deleteCumulativeCompetition', app.request.query.all|merge({ 'cumulativeGroupName': cumulativeCompetition.partOf.name,
      'cumulativeCompetitionName': cumulativeCompetition.name, })) }}" class="bg-light border border-dark nav-link m-1" title="Delete {{ cumulativeCompetition.defaultLabel() }}" onclick="return confirm('Delete? {{ cumulativeCompetition.defaultLabel() }}');"><i class="bi bi-trash"></i></a>
     </nav>
    </div>
   </div>
  </div>
 {% endfor %}
 </div>
</section>
{% endblock %}
