{% extends 'base.html.twig' %}

{% block page_title -%}
{{ 'manage_cumulative.caption' | trans({}, 'admin') }}
{%- endblock %}

{% block content %}
{% trans_default_domain "entity" %}
<section id="cumulativeGroups">
<h4>{{ 'manage_cumulative.cumulative_groups.caption' | trans({}, 'admin') }}</h4>
 <div class="filter mb-3">
  <form action="{{ path('manageCumulative', {  }) }}" method="get">
   <div class="input-group">
    <input type="text" name="title" class="form-control" placeholder="Title" required="required" value="{{ app.request.query.get('title') }}"/>
    <button type="submit" name="titleLikeFilter" class="btn btn-outline-secondary"><i class="material-icons">search</i></button>
   </div>
  </form>
 </div>
 <div class="fabs" role="group" aria-label="Floating action buttons">
  <a href="{{ path('manageCumulative_createGroup', app.request.query.all|merge({  })) }}" class="fab text-light" title="Add cumulative group"><i class="bi bi-plus"></i></a>
 </div>
 <turbo-frame id="cumulative_groups-{{ cumulativeGroups.currentPage }}" target="_top">
 <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-3">
 {% for cumulativeGroup in cumulativeGroups %}
  <div class="col">
   <div class="card rounded shadow-sm h-100">
    <div class="card-body">
     <h5 class="card-title">{{ cumulativeGroup.name }}</h5>
     <ul class="list-unstyled">
      <li>{% for value in cumulativeGroup.competitions %}<div class="truncate">{{ value.defaultLabel() }}</div>{% else %}{{ 'None' }}{% endfor %}</li>
     </ul>
    </div>
    <div class="card-footer">
     <nav class="nav nav-pills justify-content-center">
      <a href="{{ path('manageCumulative_updateGroup', app.request.query.all|merge({ 'name': cumulativeGroup.name, })) }}" class="bg-light border border-dark nav-link m-1" title="Update competition group {{ cumulativeGroup.defaultLabel() }}"><i class="bi bi-pencil"></i></a>
      <a href="{{ path('manageCumulative_competitions', { 'name': cumulativeGroup.name, }) }}" class="bg-light border border-dark nav-link m-1" title="Manage component competitions of {{ cumulativeGroup.defaultLabel() }}"><i class="bi bi-boxes"></i></a>
      <a href="{{ path('manageCumulative_tally', app.request.query.all|merge({ 'name': cumulativeGroup.name, })) }}" class="bg-light border border-dark nav-link m-1" title="Calculate scores for component competitions of {{ cumulativeGroup.defaultLabel() }}">{{ 'manage_cumulative.cumulative_groups.actions.tallylabel' | trans( {}, 'admin') }}</a>
      <a href="{{ path('manageCumulative_downloadDetails', app.request.query.all|merge({ 'name': cumulativeGroup.name, })) }}" class="bg-light border border-dark nav-link m-1" title="Down details of {{ cumulativeGroup.defaultLabel() }}"><i class="bi bi-file-earmark-spreadsheet"></i></a>
      <a href="{{ path('manageCumulative_deleteCumulativeGroup', app.request.query.all|merge({ 'name': cumulativeGroup.name, })) }}" class="bg-light border border-dark nav-link m-1" title="Delete cumulative group {{ cumulativeGroup.defaultLabel() }}" onclick="return confirm('Delete cumulative group? {{ cumulativeGroup.defaultLabel() }}');"><i class="bi bi-trash"></i></a>
     </nav>
    </div>
   </div>
  </div>
 {% endfor %}
 </div>
  {% if cumulativeGroups.hasNextPage %}
  <turbo-frame id="cumulative_groups-{{ cumulativeGroups.nextPage }}" src="{{ pagerfanta_page_url(cumulativeGroups, cumulativeGroups.nextPage) }}" loading="lazy"></turbo-frame>
  {% endif %}
 </turbo-frame>
</section>
{% endblock %}
