{% extends 'base.html.twig' %}

{% block page_title -%}
{{ 'manage_cumulative.caption' | trans({}, 'admin') }}
{%- endblock %}

{% block metas %}
<meta name="turbo-cache-control" content="no-preview">
{% endblock %}

{% block content %}
{% trans_default_domain "entity" %}
{% trans_default_domain "admin" %}
<section id="editCompetition">
<h4>{{ 'manage_cumulative.edit_competition.caption' | trans }}</h4>
{{ form_start(editCompetition, { attr: { id: 'cumulative_competition', class: 'container border rounded g-0 pt-2' }}) }}
 {{ form_errors(editCompetition) }}
 {{ form_row(editCompetition.name, { row_attr: { class: 'px-2 mb-3' },}) }}
 {{ form_row(editCompetition.private, { row_attr: { class: 'px-2 mb-3' },}) }}
 {{ form_row(editCompetition.fromSections, { row_attr: { class: 'px-2 mb-3' },}) }}
<div class="d-flex justify-content-center bg-light border-top p-2">
 <button type="submit" name="submit" class="btn border rounded mx-2 my-1">{{ 'admin.labels.submit' | trans }}</button>
 <input type="submit" name="cancel" class="btn border rounded mx-2 my-1" value="{{ 'admin.labels.cancel' | trans }}" formnovalidate/>
 <input type="reset" name="clear" class="btn border rounded mx-2 my-1" value="Clear"/>
</div>
{{ form_row(editCompetition._token) }}
{{ form_end(editCompetition, {'render_rest': false}) }}
</section>
{% endblock %}
