{% trans_default_domain "entity" %}
<section id="entries">
<h4 class="  hidden">{{ 'competition_results.entries.caption' | trans({}, 'default') }}</h4>
 {% set title = null %}
 {% for sectionEntry in entries %}
 {% if title != sectionEntry.enteredIn.title %}
  {% if title is not null %}
 </div>
  {% endif %}
 {% set title = sectionEntry.enteredIn.title %}
 <h5>{{ sectionEntry.enteredIn.title }}</h5>
 <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-3">
 {% endif%}
  <div class="col">
   <div class="card rounded shadow-sm h-100">
    <div class="card-header d-flex justify-content-end">
     {%- if sectionEntry.score > 0 -%}<span class="badge bg-dark" title="{{ 'section_entry.score.caption' | trans }}">{{ sectionEntry.score }}</span>{%- endif -%}
     {%- if sectionEntry.tagged == 1 -%}<span class="badge bg-dark"><i class="bi bi-bookmark-fill"></i></span>{%- endif -%}
    </div>
    <div class="card-body">
     {%- if sectionEntry.imageVariant.filePath is empty or sectionEntry.imageVariant.photo -%}
      <img src="{{ 'images/awaitingImage.png' | imagine_filter('public_grid') }}" alt="{{ sectionEntry.title }}" title="{{ sectionEntry.title }}"/>
      {%- else -%}
      <img class="card-img-top" src="{{ sectionEntry.imageVariant.filePath | imagine_filter('public_large') }}" alt="{{ sectionEntry.title }}" title="{{ sectionEntry.title }}"/>
      {%- endif -%}
     <h5 class="card-title text-truncate mt-2">{{ sectionEntry.title }}</h5>
     <ul class="list-unstyled">
      {% if not (sectionEntry.award is null and sectionEntry.enteredIn.partOf.publicAuthors != 1) -%}
      <li>{{ sectionEntry.imageVariant.image.author.defaultLabel() | default('&nbsp;') }}</li>
      {%- endif %}
      {% if not (sectionEntry.award is null and sectionEntry.points < 1) -%}
      <li>{{ sectionEntry.awardWithPointsLabel() }}</li>
      {%- endif %}
     </ul>
    </div>
    {% if is_granted('ROLE_PUBLIC_ENGAGEMENT_PLUS') or is_granted('ROLE_COMPETITION_SECRETARY') or is_granted('ROLE_PUBLIC_ENGAGEMENT') %}
    <div class="card-footer">
     <nav class="nav nav-pills justify-content-center">
      {% if is_granted('ROLE_COMPETITION_SECRETARY') %}<a href="{{ path('manageImageEntries', { 'username': sectionEntry.imageVariant.image.author.username,
      'title': sectionEntry.imageVariant.image.title, }) }}" class="bg-light border border-dark nav-link m-1" title="Entries {{ sectionEntry.defaultLabel() }}">{{ 'competition_results.entries.actions.entrieslabel' | trans( {}, 'default') }}</a>{% endif %}
      {% if is_granted('ROLE_PUBLIC_ENGAGEMENT_PLUS') %}<a href="{{ path('competitionResults_showcase', { 'eventTitle': sectionEntry.enteredIn.partOf.event.title,
      'competitionSectionTitle': sectionEntry.enteredIn.title,
      'sectionEntryTitle': sectionEntry.title, }) }}" class="bg-light border border-dark nav-link m-1" title="Showcase {{ sectionEntry.defaultLabel() }}">{{ 'competition_results.entries.actions.showcaselabel' | trans( {}, 'default') }}</a>{% endif %}
      {% if is_granted('ROLE_PUBLIC_ENGAGEMENT') %}<a href="{{ path('competitionResults_download', { 'eventTitle': sectionEntry.enteredIn.partOf.event.title,
      'competitionSectionTitle': sectionEntry.enteredIn.title,
      'sectionEntryTitle': sectionEntry.title, }) }}" class="bg-light border border-dark nav-link m-1" title="Download {{ sectionEntry.defaultLabel() }}"><i class="bi bi-download"></i></a>{% endif %}
     </nav>
    </div>
    {% endif %}
   </div>
  </div>
 {% endfor %}
 </div>
</section>
