{% extends 'base.html.twig' %}

{% block page_title -%}
{{ 'competition_results.caption' | trans({}, 'default') }}
{%- endblock %}

{% block content %}
{{ include('competition_results/results.html.twig') }}
{% if entries is defined %}
{{ include('competition_results/entries.html.twig') }}
{% else %}
<h5>{{ 'competition_results.entries.messages.hidden' | trans({}, 'default') }}</h5>
{% endif %}
{% endblock %}
