{% trans_default_domain "entity" %}
<section id="results">
 <h4>{{ results.defaultLabel() }}</h4>
 <dl>
  <dt>{{ 'competition_results.results.start.caption' | trans({}, 'default') }}</dt>
  <dd>{{ results.event.start | date('jS F Y') }}</dd>
  <dt>{{ 'competition.judges.caption' | trans }}</dt>
  <dd>{% for value in results.judges %}<div>{{ value.nameWithDistinctionsLabel() }}</div>{% endfor %}</dd>
  {% if not (results.awards is empty) -%}
  <dt>{{ 'competition.awards.caption' | trans }}</dt>
  <dd>{% for value in results.awards %}<div>{{ value.defaultLabel() }}</div>{% else %}{{ 'None' }}{% endfor %}</dd>
  {%- endif %}
 </dl>
</section>
