{% extends 'base.html.twig' %}

{% block page_title -%}
{{ 'manage_competition.caption' | trans({}, 'admin') }}
{%- endblock %}

{% block content %}
{% trans_default_domain "entity" %}
<section id="competition">
 <h4>{{ competition.defaultLabel() }}</h4>
 <div>
  <nav>
   <a href="{{ path('manageCompetition_exportSecretary', { 'title': competition.event.title, }) }}" title="Secretary {{ competition.defaultLabel() }}">{{ 'manage_competition.competition.actions.export_secretarylabel' | trans( {}, 'admin') }}</a>
   <a href="{{ path('manageCompetition_exportJudge', { 'title': competition.event.title, }) }}" title="Judge {{ competition.defaultLabel() }}">{{ 'manage_competition.competition.actions.export_judgelabel' | trans( {}, 'admin') }}</a>
   <a href="{{ path('manageCompetition_imagesDicentra', { 'title': competition.event.title, }) }}" title="Images Dicentra {{ competition.defaultLabel() }}">{{ 'manage_competition.competition.actions.images_dicentralabel' | trans( {}, 'admin') }}</a>
   <a href="{{ path('manageCompetition_imagesJudge', { 'title': competition.event.title, }) }}" title="Images Judge {{ competition.defaultLabel() }}">{{ 'manage_competition.competition.actions.images_judgelabel' | trans( {}, 'admin') }}</a>
   <a href="{{ path('manageCompetition_exportEntryLables', { 'title': competition.event.title, }) }}" title="Entry Labels {{ competition.defaultLabel() }}">{{ 'manage_competition.competition.actions.export_entry_lableslabel' | trans( {}, 'admin') }}</a>
   <a href="{{ path('manageCompetition_exportPlaceLabels', { 'title': competition.event.title, }) }}" title="Place Labels {{ competition.defaultLabel() }}">{{ 'manage_competition.competition.actions.export_place_labelslabel' | trans( {}, 'admin') }}</a>
  </nav>
 </div>
 <ul class="list-unstyled">
  <li>{% for value in competition.sections %}<span>{{ value.defaultLabel() }}</span>{% endfor %}</li>
  <li>{% for value in competition.awards %}<span>{{ value.defaultLabel() }}</span>{% endfor %}</li>
 </ul>
</section>
{% endblock %}
