{% extends 'base.html.twig' %}

{% block page_title -%}
{{ 'manage_people.caption' | trans({}, 'admin') }}
{%- endblock %}

{% block content %}
{% trans_default_domain "entity" %}
<section id="distinctions">
<h4>{{ 'manage_people.distinctions.caption' | trans({}, 'admin') }}</h4>
 <div class="filter mb-3">
  <form action="{{ path('managePeople_distinctions', {  }) }}" method="get">
   <div class="input-group">
    <input type="text" name="name" class="form-control" placeholder="Name" required="required" value="{{ app.request.query.get('name') }}"/>
    <button type="submit" name="nameLikeFilter" class="btn btn-outline-secondary"><i class="material-icons">search</i></button>
   </div>
  </form>
 </div>
 <turbo-frame id="distinctions-{{ distinctions.currentPage }}" target="_top">
 <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-3">
 {% for distinction in distinctions %}
  <div class="col">
   <div class="card rounded shadow-sm h-100">
    <div class="card-body">
     <h5 class="card-title">{{ distinction.title }}</h5>
     <dl>
      <dt>{{ 'distinction.rank.caption' | trans }}</dt>
      <dd>{{ distinction.rank }}</dd>
     </dl>
    </div>
    <div class="card-footer">
     <nav class="nav nav-pills justify-content-center">
      <a href="{{ path('managePeople_updateDistinction', app.request.query.all|merge({ 'title': distinction.title | url_encode, })) }}" class="bg-light border border-dark nav-link m-1" title="Edit {{ distinction.defaultLabel() }}"><i class="bi bi-pencil"></i></a>
      <a href="{{ path('managePeople_deleteDistinction', app.request.query.all|merge({ 'title': distinction.title | url_encode, })) }}" class="bg-light border border-dark nav-link m-1" title="Delete {{ distinction.defaultLabel() }}" onclick="return confirm('Delete? {{ distinction.defaultLabel() }}');"><i class="bi bi-trash"></i></a>
     </nav>
    </div>
   </div>
  </div>
 {% endfor %}
 </div>
  {% if distinctions.hasNextPage %}
  <turbo-frame id="distinctions-{{ distinctions.nextPage }}" src="{{ pagerfanta_page_url(distinctions, distinctions.nextPage) }}" loading="lazy"></turbo-frame>
  {% endif %}
 </turbo-frame>
</section>
{% endblock %}
