{% extends 'base.html.twig' %}

{% block page_title -%}
{{ 'manage_people.caption' | trans({}, 'admin') }}
{%- endblock %}

{% block metas %}
<meta name="turbo-cache-control" content="no-preview">
{% endblock %}

{% block content %}
{% trans_default_domain "entity" %}
{% trans_default_domain "admin" %}
<section id="editPerson">
<h4>{{ 'manage_people.edit_person.caption' | trans }}</h4>
{{ form_start(editPerson, { attr: { id: 'person', class: 'container border rounded g-0 pt-2' }}) }}
 {{ form_errors(editPerson) }}
 {{ form_row(editPerson.familyName, { row_attr: { class: 'px-2 mb-3' },}) }}
 {{ form_row(editPerson.forenames, { row_attr: { class: 'px-2 mb-3' },}) }}
 {{ form_row(editPerson.salutation, { row_attr: { class: 'px-2 mb-3' },}) }}
 {{ form_row(editPerson.username, { row_attr: { class: 'px-2 mb-3' },}) }}
 {{ form_row(editPerson.memberOf, { row_attr: { class: 'px-2 mb-3' },}) }}
 {{ form_row(editPerson.distinctions, { row_attr: { class: 'px-2 mb-3' },}) }}
 {{ form_row(editPerson.website, { row_attr: { class: 'px-2 mb-3' },}) }}
 {{ form_row(editPerson.showcaseImage, { row_attr: { class: 'px-2 mb-3' },}) }}
<div class="d-flex justify-content-center bg-light border-top p-2">
 <button type="submit" name="submit" class="btn border rounded mx-2 my-1">{{ 'admin.labels.submit' | trans }}</button>
 <input type="submit" name="cancel" class="btn border rounded mx-2 my-1" value="{{ 'admin.labels.cancel' | trans }}" formnovalidate/>
 <input type="reset" name="clear" class="btn border rounded mx-2 my-1" value="Clear"/>
</div>
{{ form_row(editPerson._token) }}
{{ form_end(editPerson, {'render_rest': false}) }}
</section>
{% endblock %}
