{% extends 'base.html.twig' %}

{% block page_title -%}
{{ 'manage_people.caption' | trans({}, 'admin') }}
{%- endblock %}

{% block content %}
{% trans_default_domain "entity" %}
<section id="participation">
 <h4>{{ participation.nameWithDistinctionsLabel() }}</h4>
 <dl>
  <dt>{{ 'person.member_of.caption' | trans }}</dt>
  <dd>{{ participation.memberOf.defaultLabel() }}</dd>
  {% if not (participation.hasJudged is empty) -%}
  <dt>{{ 'person.has_judged.caption' | trans }}</dt>
  <dd>{% for value in participation.hasJudged %}<div>{{ value.defaultLabel() }}</div>{% endfor %}</dd>
  {%- endif %}
  {% if not (participation.hasPresented is empty) -%}
  <dt>{{ 'person.has_presented.caption' | trans }}</dt>
  <dd>{% for value in participation.hasPresented %}<div>{{ value.defaultLabel() }}</div>{% endfor %}</dd>
  {%- endif %}
 </dl>
</section>
{% endblock %}
