{% extends 'base.html.twig' %}

{% block page_title -%}
{{ 'manage_people.caption' | trans({}, 'admin') }}
{%- endblock %}

{% block content %}
{% trans_default_domain "entity" %}
<section id="people">
<h4>{{ 'manage_people.people.caption' | trans({}, 'admin') }}</h4>
 <div class="filter mb-3">
  <form action="{{ path('managePeople', {  }) }}" method="get">
   <div class="input-group">
    <input type="text" name="forenames" class="form-control" placeholder="Forenames" value="{{ app.request.query.get('forenames') }}"/>
    <input type="text" name="familyName" class="form-control" placeholder="Family Name" value="{{ app.request.query.get('familyName') }}"/>
    <button type="submit" name="nameLikeFilter" class="btn btn-outline-secondary"><i class="material-icons">search</i></button>
   </div>
  </form>
 </div>
 <turbo-frame id="people-{{ people.currentPage }}" target="_top">
 <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-3">
 {% for person in people %}
  <div class="col">
   <div class="card rounded shadow-sm h-100">
    <div class="card-body">
     <h5 class="card-title">{{ person.defaultLabel() }}</h5>
     <ul class="list-unstyled">
      {% if not (person.memberOf is null) -%}
      <li class="text-truncate">{{ person.memberOf.defaultLabel() }}</li>
      {%- endif %}
     </ul>
    </div>
    <div class="card-footer">
     <nav class="nav nav-pills justify-content-center">
      <a href="{{ path('managePeople_updatePerson', app.request.query.all|merge({ 'username': person.username, })) }}" class="bg-light border border-dark nav-link m-1" title="Edit {{ person.defaultLabel() }}"><i class="bi bi-pencil"></i></a>
      <a href="{{ path('managePeople_deletePerson', app.request.query.all|merge({ 'username': person.username, })) }}" class="bg-light border border-dark nav-link m-1" title="Delete {{ person.defaultLabel() }}" onclick="return confirm('Delete? {{ person.defaultLabel() }}');"><i class="bi bi-trash"></i></a>
      <a href="{{ path('managePeople_participation', app.request.query.all|merge({ 'username': person.username, })) }}" class="bg-light border border-dark nav-link m-1" title="Info {{ person.defaultLabel() }}"><i class="bi bi-file-earmark-text"></i></a>
      {% if is_granted('ROLE_COMPETITION_SECRETARY') %}<a href="{{ path('managePeople_images', { 'username': person.username, }) }}" class="bg-light border border-dark nav-link m-1" title="Images {{ person.defaultLabel() }}"><i class="bi bi-images"></i></a>{% endif %}
     </nav>
    </div>
   </div>
  </div>
 {% endfor %}
 </div>
  {% if people.hasNextPage %}
  <turbo-frame id="people-{{ people.nextPage }}" src="{{ pagerfanta_page_url(people, people.nextPage) }}" loading="lazy"></turbo-frame>
  {% endif %}
 </turbo-frame>
</section>
{% endblock %}
