{% extends 'base.html.twig' %}

{% block page_title -%}
{{ 'manage_people.caption' | trans({}, 'admin') }}
{%- endblock %}

{% block content %}
{% trans_default_domain "entity" %}
<section id="variants">
<h4>{{ image.titleWithAuthorLabel() }}</h4>
 <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-3">
 {% for imageVariant in variants %}
  <div class="col">
   <div class="card rounded shadow-sm h-100">
    <div class="card-header d-flex justify-content-end">
     {%- if imageVariant.clubShowcase == 1 -%}<span class="badge bg-light text-dark"><i class="bi bi-check2-square"></i></span>{%- endif -%}
     {%- if imageVariant.clubShowcase != 1 -%}<span class="badge bg-light text-dark"><i class="bi bi-square"></i></span>{%- endif -%}
    </div>
    <div class="card-body">
     {%- if imageVariant.filePath is not empty -%}
      <img class="card-img-top" src="{{ imageVariant.filePath | imagine_filter('public_grid') }}" alt="{{ imageVariant.description }}" title="{{ imageVariant.description }}"/>
      {%- else -%}
      <img src="{{ 'images/awaitingImage.png' | imagine_filter('public_grid') }}" alt="{{ imageVariant.description }}" title="{{ imageVariant.description }}"/>
      {%- endif -%}
     <h5 class="card-title text-truncate mt-2">{{ imageVariant.description }}</h5>
    </div>
    <div class="card-footer">
     <nav class="nav nav-pills justify-content-center">
      <a href="{{ path('managePeople_updateVariants', app.request.query.all|merge({ 'username': imageVariant.image.author.username,
      'title': imageVariant.image.title,
      'description': imageVariant.description, })) }}" class="bg-light border border-dark nav-link m-1" title="Edit {{ imageVariant.defaultLabel() }}"><i class="bi bi-pencil"></i></a>
      <a href="{{ path('managePeople_deleteImageVariant', app.request.query.all|merge({ 'username': imageVariant.image.author.username,
      'title': imageVariant.image.title,
      'description': imageVariant.description, })) }}" class="bg-light border border-dark nav-link m-1" title="Delete {{ imageVariant.defaultLabel() }}" onclick="return confirm('Delete? {{ imageVariant.defaultLabel() }}');"><i class="bi bi-trash"></i></a>
      {% if is_granted('ROLE_PUBLIC_ENGAGEMENT') %}<a href="{{ path('managePeople_showcase', app.request.query.all|merge({ 'username': imageVariant.image.author.username,
      'title': imageVariant.image.title,
      'description': imageVariant.description, })) }}" class="bg-light border border-dark nav-link m-1" title="Showcase {{ imageVariant.defaultLabel() }}">{{ 'manage_people.variants.actions.showcaselabel' | trans( {}, 'admin') }}</a>{% endif %}
     </nav>
    </div>
   </div>
  </div>
 {% endfor %}
 </div>
</section>
{% endblock %}
