{% extends 'base.html.twig' %}

{% block page_title -%}
{{ 'about_us.caption' | trans({}, 'default') }}
{%- endblock %}

{% block content %}
{% trans_default_domain "entity" %}
<section id="aboutUs">
 <h4>{{ 'about_us.about_us.caption' | trans({}, 'default') }}</h4>
 <ul class="list-unstyled">
  <li>{{ aboutUs.content }}</li>
 </ul>
</section>
{% endblock %}
