{% extends 'base.html.twig' %}

{% block page_title -%}
{{ 'forgotten.caption' | trans({}, 'authentication') }}
{%- endblock %}

{% block metas %}
<meta name="turbo-cache-control" content="no-preview">
{% endblock %}

{% block content %}
{% trans_default_domain "authentication" %}
<section id="forgotten">
<h4>{{ 'forgotten.caption' | trans }}</h4>

{{ form_start(forgotten, { attr: { id: 'forgotten', class: 'container border rounded g-0 pt-2' }}) }}
 {{ form_errors(forgotten) }}
 {{ form_row(forgotten.email, { row_attr: { class: 'px-2 mb-3' }, attr: { }}) }}
 {{ form_row(forgotten.captcha) }}
<div class="d-flex justify-content-center bg-light border-top p-2">
 <button type="submit" name="submit" class="btn border rounded mx-2 my-1">{{ 'forgotten.request' | trans }}</button>
</div>
{{ form_row(forgotten._token) }}
{{ form_end(forgotten, {'render_rest': false}) }}
</section>
{% endblock %}
