{% extends 'base.html.twig' %}

{% block content %}
{% trans_default_domain "authentication" %}
<section id="forgotten">
<h4>{{ 'forgotten.caption' | trans }}</h4>
 <p>An email has been sent that contains a link that you can click to reset your password.
  This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
 </p>
 <p>If you don't receive an email please check your spam folder or <a href="{{ path('forgotten-password') }}">try again</a>.</p>
</section>
{% endblock %}
