{% extends 'base.html.twig' %}

{% block page_title -%}
{{ 'login.caption' | trans({}, 'authentication') }}
{%- endblock %}

{% block metas %}
<meta name="turbo-cache-control" content="no-preview">
{% endblock %}

{% block content %}
{% trans_default_domain "authentication" %}
<section id="login">
<h4>{{ 'login.caption' | trans }}</h4>

{% if error %}
<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

{{ form_start(login, { attr: { id: 'login', class: 'container border rounded g-0 pt-2' }}) }}
 {{ form_errors(login) }}
 {{ form_row(login.email, { row_attr: { class: 'px-2 mb-3' },}) }}
 {{ form_row(login.plainPassword, { row_attr: { class: 'px-2 mb-3' }, attr: { }}) }}
 {{ form_row(login.captcha) }}
<div class="d-flex justify-content-center bg-light border-top p-2">
 <button type="submit" name="submit" class="btn border rounded mx-2 my-1">{{ 'login.submit' | trans }}</button>
 <a href="{{ path('forgotten-password') }}" class="btn border rounded mx-2 my-1">{{ 'forgotten.invoke' | trans( {}, 'authentication') }}</a>
</div>
{{ form_row(login._token) }}
{{ form_end(login, {'render_rest': false}) }}
</section>
{% endblock %}
