{% extends 'base.html.twig' %}

{% block metas %}
<meta name="turbo-cache-control" content="no-preview">
{% endblock %}

{% block content %}
{% trans_default_domain "security" %}
<section id="reset">
<h4>{{ 'security.reset.caption' | trans }}</h4>

{% if reset_error %}
<div class="alert alert-danger">{{ reset_error.messageKey|trans(reset_error.messageData, 'security') }}</div>
{% endif %}

{{ form_start(reset, { attr: { id: 'authentication' }}) }}
 {{ form_errors(reset) }}
 {{ form_row(reset.plainPassword, { row_attr: { class: 'px-2 mb-3' }, attr: { }}) }}
 {{ form_row(reset.captcha) }}
<div class="d-flex justify-content-center bg-light border-top p-2">
 <button type="submit" name="submit" class="btn border rounded mx-2 my-1">{{ 'security.reset.labels.submit' | trans }}</button>
</div>
{{ form_row(reset._token) }}
{{ form_end(reset, {'render_rest': false}) }}
</section>
{% endblock %}
