{% extends 'base.html.twig' %}

{% block page_title -%}
{{ 'competitions.caption' | trans({}, 'default') }}
{%- endblock %}

{% block content %}
{% trans_default_domain "entity" %}
<section id="bpe">
<h4>{{ 'competitions.bpe.caption' | trans({}, 'default') }}</h4>
 <turbo-frame id="bpe-{{ bpe.currentPage }}" target="_top">
 <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-3">
 {% for competition in bpe %}
  <div class="col">
   <div class="card rounded shadow-sm h-100">
    <div class="card-body">
     <h5 class="card-title">{{ competition.event.title }}</h5>
     <dl>
      <dt>{{ 'event.start.caption' | trans }}</dt>
      <dd>{{ competition.event.start | date('jS F Y G.i') }}</dd>
      <dt>{{ 'competition.submission_deadline.caption' | trans }}</dt>
      <dd>{{ competition.submissionDeadline | date('jS F Y') }}</dd>
      <dt>{{ 'competition.website.caption' | trans }}</dt>
      <dd>{{ competition.website }}</dd>
     </dl>
    </div>
   </div>
  </div>
 {% endfor %}
 </div>
  {% if bpe.hasNextPage %}
  <turbo-frame id="bpe-{{ bpe.nextPage }}" src="{{ pagerfanta_page_url(bpe, bpe.nextPage) }}" loading="lazy"></turbo-frame>
  {% endif %}
 </turbo-frame>
</section>
{% endblock %}
