{% extends 'base.html.twig' %}

{% block page_title -%}
{{ 'competitions.caption' | trans({}, 'default') }}
{%- endblock %}

{% block content %}
{% trans_default_domain "entity" %}
<section id="cumulativeDetails">
 <h4>{{ cumulativeCompetition.name }}</h4>
 <table class="">
  <thead class="unit_header">
   <tr>
    <th>{{ 'cumulative_entry.author.caption' | trans }}</th>
    <th>{{ 'cumulative_entry.score.caption' | trans }}</th>
    <th>{{ 'cumulative_entry.entries.caption' | trans }}</th>
   </tr>
  </thead>
  <tbody>
 {% for entry in cumulativeDetails %}
   <tr class="{{ cycle(['odd_row', 'even_row'], loop.index0) }}">
    <td class="author">{{ entry.author.defaultLabel() }}</td>
    <td class="score">{{ entry.score }}</td>
    <td class="entries">{% for value in entry.entries %}<div>{{ value.awardScoreAndTitleLabel() }}</div>{% endfor %}</td>
   </tr>
 {% endfor %}
  </tbody>
 </table>
</section>
{% endblock %}
