{% extends 'base.html.twig' %}

{% block page_title -%}
{{ 'competitions.caption' | trans({}, 'default') }}
{%- endblock %}

{% block content %}
{% trans_default_domain "entity" %}
<section id="cumulative">
<h4>{{ 'competitions.cumulative.caption' | trans({}, 'default') }}</h4>
 <div class="filter mb-3">
  <form action="{{ path('competitions_cumulative', {  }) }}" method="get">
   <div class="input-group">
    <input type="text" name="competition" class="form-control" placeholder="Competition" required="required" value="{{ app.request.query.get('competition') }}"/>
    <button type="submit" name="nameLikeFilter" class="btn btn-outline-secondary"><i class="material-icons">search</i></button>
   </div>
  </form>
 </div>
 <turbo-frame id="cumulative-{{ cumulative.currentPage }}" target="_top">
 <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-3">
 {% for cumulativeCompetition in cumulative %}
  <div class="col">
   <div class="card rounded shadow-sm h-100">
    <div class="card-body">
     <h5 class="card-title text-truncate">{{ cumulativeCompetition.name }}</h5>
     <ul class="list-unstyled">
      <li>{% for value in cumulativeCompetition.scores %}<div>{{ value.defaultLabel() }}</div>{% endfor %}</li>
     </ul>
    </div>
    {% if is_granted('ROLE_MEMBER') %}
    <div class="card-footer">
     <nav class="nav nav-pills justify-content-center">
      {% if is_granted('ROLE_MEMBER') %}<a href="{{ path('competitions_cumulativeDetails', { 'name': cumulativeCompetition.name, }) }}" class="bg-light border border-dark nav-link m-1" title="Detailed breakdown of scores for {{ cumulativeCompetition.defaultLabel() }}"><i class="bi bi-list-columns-reverse"></i></a>{% endif %}
     </nav>
    </div>
    {% endif %}
   </div>
  </div>
 {% endfor %}
 </div>
  {% if cumulative.hasNextPage %}
  <turbo-frame id="cumulative-{{ cumulative.nextPage }}" src="{{ pagerfanta_page_url(cumulative, cumulative.nextPage) }}" loading="lazy"></turbo-frame>
  {% endif %}
 </turbo-frame>
</section>
{% endblock %}
