{% extends 'base.html.twig' %}

{% block page_title -%}
{{ 'competitions.caption' | trans({}, 'default') }}
{%- endblock %}

{% block content %}
{% trans_default_domain "entity" %}
<section id="details">
 <h4>{{ details.defaultLabel() }}</h4>
 <dl>
  <dt>{{ 'competitions.details.start.caption' | trans({}, 'default') }}</dt>
  <dd class="text-truncate">{{ details.event.start | date('g.ia l jS F Y') }}</dd>
  <dt>{{ 'competition.submission_deadline.caption' | trans }}</dt>
  <dd class="text-truncate">{{ details.submissionDeadline | date('l jS F Y') }}</dd>
  <dt>{{ 'competition.secretary.caption' | trans }}</dt>
  <dd>{{ details.secretary.defaultLabel() | default('TBC') }}</dd>
  <dt>{{ 'competition.judges.caption' | trans }}</dt>
  <dd>{% for value in details.judges %}<div>{{ value.defaultLabel() }}</div>{% else %}{{ 'TBC' }}{% endfor %}</dd>
  <dt>{{ 'competition.sections.caption' | trans }}</dt>
  <dd>{% for value in details.sections %}<div>{{ value.defaultLabel() }}</div>{% endfor %}</dd>
 </dl>
</section>
{% endblock %}
