{% extends 'base.html.twig' %}

{% block page_title -%}
{{ 'competitions.caption' | trans({}, 'default') }}
{%- endblock %}

{% block content %}
{% trans_default_domain "entity" %}
<section id="past">
<h4>{{ 'competitions.past.caption' | trans({}, 'default') }}</h4>
 <div class="filter mb-3">
  <form action="{{ path('competitions_past', {  }) }}" method="get">
   <div class="input-group">
    <input type="text" name="competitionTitle" class="form-control" placeholder="Competition Title" required="required" value="{{ app.request.query.get('competitionTitle') }}"/>
    <button type="submit" name="publicWithTitleLikeFilter" class="btn btn-outline-secondary"><i class="material-icons">search</i></button>
   </div>
  </form>
 </div>
 <turbo-frame id="past-{{ past.currentPage }}" target="_top">
 <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-3">
 {% for competition in past %}
  <div class="col">
   <div class="card rounded shadow-sm h-100">
    <div class="card-body">
     <a href="{{ path('competitionResults', app.request.query.all|merge({ 'title': competition.event.title, })) }}" class="bg-light border border-dark nav-link m-1" title="Results {{ competition.defaultLabel() }}">{%- if competition.image is not empty -%}
       {%- if competition.image.filePath is not empty -%}
       <img class="card-img-top" src="{{ competition.image.filePath | imagine_filter('public_large') }}" alt="{{ competition.event.title }}" title="{{ competition.event.title }}"/>
       {%- else -%}
       <img src="{{ 'images/awaitingImage.png' | imagine_filter('public_grid') }}" alt="{{ competition.event.title }}" title="{{ competition.event.title }}"/>
       {%- endif -%}
       {%- else -%}
       <img src="{{ 'images/awaitingImage.png' | imagine_filter('public_grid') }}" alt="{{ competition.event.title }}" title="{{ competition.event.title }}"/>
       {%- endif -%}</a>
     <h5 class="card-title text-truncate mt-2">{{ competition.event.title }}</h5>
     <dl>
      <dt>{{ 'competitions.past.start.caption' | trans({}, 'default') }}</dt>
      <dd>{{ competition.event.start | date('jS F Y') }}</dd>
      <dt>{{ 'competitions.past.judges.caption' | trans({}, 'default') }}</dt>
      <dd>{% for value in competition.judges %}<div class="truncate">{{ value.nameWithDistinctionsLabel() }}</div>{% endfor %}</dd>
     </dl>
    </div>
   </div>
  </div>
 {% endfor %}
 </div>
  {% if past.hasNextPage %}
  <turbo-frame id="past-{{ past.nextPage }}" src="{{ pagerfanta_page_url(past, past.nextPage) }}" loading="lazy"></turbo-frame>
  {% endif %}
 </turbo-frame>
</section>
{% endblock %}
