{% extends 'base.html.twig' %}

{% block page_title -%}
{{ 'competitions.caption' | trans({}, 'default') }}
{%- endblock %}

{% block content %}
{% trans_default_domain "entity" %}
<section id="upcoming">
<h4>{{ 'competitions.upcoming.caption' | trans({}, 'default') }}</h4>
 <turbo-frame id="upcoming-{{ upcoming.currentPage }}" target="_top">
 <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-3">
 {% for competition in upcoming %}
  <div class="col">
   <div class="card rounded shadow-sm h-100">
    <div class="card-body">
     <h5 class="card-title text-truncate">{{ competition.event.title }}</h5>
     <dl>
      <dt>{{ 'competitions.upcoming.start.caption' | trans({}, 'default') }}</dt>
      <dd class="text-truncate">{{ competition.event.start | date('g.ia l jS F Y') }}</dd>
      <dt>{{ 'competition.submission_deadline.caption' | trans }}</dt>
      <dd class="text-truncate">{{ competition.submissionDeadline | date('l jS F Y') }}</dd>
     </dl>
    </div>
    <div class="card-footer">
     <nav class="nav nav-pills justify-content-center">
      <a href="{{ path('competitions_details', app.request.query.all|merge({ 'title': competition.event.title, })) }}" class="bg-light border border-dark nav-link m-1" title="Details {{ competition.defaultLabel() }}">{{ 'competitions.upcoming.actions.detailslabel' | trans( {}, 'default') }}</a>
     </nav>
    </div>
   </div>
  </div>
 {% endfor %}
 </div>
  {% if upcoming.hasNextPage %}
  <turbo-frame id="upcoming-{{ upcoming.nextPage }}" src="{{ pagerfanta_page_url(upcoming, upcoming.nextPage) }}" loading="lazy"></turbo-frame>
  {% endif %}
 </turbo-frame>
</section>
{% endblock %}
