{% extends 'base.html.twig' %}

{% block page_title -%}
{{ 'manage_entries.caption' | trans({}, 'admin') }}
{%- endblock %}

{% block content %}
{% trans_default_domain "entity" %}
<section id="authorEntries">
<h4>{{ 'manage_entries.author_entries.caption' | trans({}, 'admin') }}</h4>
 {% set familyName = null %}
 {% for sectionEntry in authorEntries %}
 {% if familyName != sectionEntry.enteredIn.title %}
  {% if familyName is not null %}
 </div>
  {% endif %}
 {% set familyName = sectionEntry.enteredIn.title %}
 <h5>{{ sectionEntry.enteredIn.title }}</h5>
 <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-3">
 {% endif%}
  <div class="col">
   <div class="card rounded shadow-sm h-100">
    <div class="card-header d-flex justify-content-end">
     {%- if sectionEntry.disqualified == 1 -%}<span class="badge bg-light text-dark"><i class="bi bi-dash-circle"></i></span>{%- endif -%}
     {%- if sectionEntry.entryNumber > 0 -%}<span class="badge bg-light text-dark">{{ sectionEntry.score }}</span>{%- endif -%}
     {%- if sectionEntry.tagged == 1 -%}<span class="badge bg-light text-dark"><i class="bi bi-bookmark-fill"></i></span>{%- endif -%}
     {%- if sectionEntry.award is not null -%}<span class="badge bg-light text-dark">{{ sectionEntry.award.defaultLabel() }}</span>{%- endif -%}
     {%- if sectionEntry.tagged != 1 and sectionEntry.award is null -%}<span class="badge bg-light text-dark"></span>{%- endif -%}
    </div>
    <div class="card-body">
     {%- if sectionEntry.imageVariant.filePath is not empty -%}
      <img class="card-img-top" src="{{ sectionEntry.imageVariant.filePath | imagine_filter('public_large') }}"  />
      {%- else -%}
      <img src="{{ 'images/awaitingImage.png' | imagine_filter('public_grid') }}"  />
      {%- endif -%}
     <ul class="list-unstyled">
      <li class="text-truncate">{{ sectionEntry.imageVariant.image.defaultLabel() }}</li>
     </ul>
    </div>
   </div>
  </div>
 {% endfor %}
 </div>
</section>
{% endblock %}
