{% extends 'base.html.twig' %}

{% block page_title -%}
{{ 'manage_entries.caption' | trans({}, 'admin') }}
{%- endblock %}

{% block metas %}
<meta name="turbo-cache-control" content="no-preview">
{% endblock %}

{% block content %}
{% trans_default_domain "entity" %}
{% trans_default_domain "admin" %}
<section id="editSectionEntry">
<h4>{{ 'manage_entries.edit_section_entry.caption' | trans }}</h4>
{{ form_start(editSectionEntry, { attr: { id: 'section_entry', class: 'container border rounded g-0 pt-2' }}) }}
 {{ form_errors(editSectionEntry) }}
 {{ form_row(editSectionEntry.entryNumber, { row_attr: { class: 'px-2 mb-3' },}) }}
 {{ form_row(editSectionEntry.imageVariant, { row_attr: { class: 'px-2 mb-3' }, attr: { }}) }}
 {{ form_row(editSectionEntry.title, { row_attr: { class: 'px-2 mb-3' },}) }}
 {{ form_row(editSectionEntry.disqualified, { row_attr: { class: 'px-2 mb-3' },}) }}
 {{ form_row(editSectionEntry.removalOrder, { row_attr: { class: 'px-2 mb-3' },}) }}
 {{ form_row(editSectionEntry.removed, { row_attr: { class: 'px-2 mb-3' },}) }}
 {{ form_row(editSectionEntry.score, { row_attr: { class: 'px-2 mb-3' },}) }}
 {{ form_row(editSectionEntry.award, { row_attr: { class: 'px-2 mb-3' },}) }}
 {{ form_row(editSectionEntry.points, { row_attr: { class: 'px-2 mb-3' },}) }}
 {{ form_row(editSectionEntry.tagged, { row_attr: { class: 'px-2 mb-3' },}) }}
<div class="d-flex justify-content-center bg-light border-top p-2">
 <button type="submit" name="submit" class="btn border rounded mx-2 my-1">{{ 'admin.labels.submit' | trans }}</button>
 <input type="submit" name="cancel" class="btn border rounded mx-2 my-1" value="{{ 'admin.labels.cancel' | trans }}" formnovalidate/>
 <input type="reset" name="clear" class="btn border rounded mx-2 my-1" value="Clear"/>
</div>
{{ form_row(editSectionEntry._token) }}
{{ form_end(editSectionEntry, {'render_rest': false}) }}
</section>
{% endblock %}
