{% extends 'base.html.twig' %}

{% block page_title -%}
{{ 'manage_entries.caption' | trans({}, 'admin') }}
{%- endblock %}

{% block content %}
{% trans_default_domain "entity" %}
<section id="sectionEntries">
<h4>{{ 'manage_entries.section_entries.caption' | trans({}, 'admin') }}</h4>
 <div class="fabs" role="group" aria-label="Floating action buttons">
  <a href="{{ path('manageEntries_createSectionEntry', { 'eventTitle': competitionSection.partOf.event.title,
  'competitionSectionTitle': competitionSection.title, }) }}" class="fab text-light" title="Add entry {{ competitionSection.defaultLabel() }}" data-bs-toggle="tooltip" data-bs-placement="top"><i class="bi bi-plus"></i></a>
 </div>
 <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-3">
 {% for sectionEntry in sectionEntries %}
  <div class="col">
   <div class="card rounded shadow-sm h-100">
    <div class="card-header d-flex justify-content-end">
     {%- if sectionEntry.entryNumber > 0 -%}<span class="badge bg-light text-dark" title="{{ 'section_entry.entry_number.caption' | trans }}">{{ sectionEntry.entryNumber }}</span>{%- endif -%}
     {%- if sectionEntry.tagged != 0 -%}<span class="badge bg-light text-dark"><i class="bi bi-bookmark-fill"></i></span>{%- endif -%}
     {%- if sectionEntry.removed == 0 and sectionEntry.disqualified == 0 and sectionEntry.entryNumber <= 0 -%}<span class="badge bg-light text-dark"><i class="bi bi-eye"></i></span>{%- endif -%}
     {%- if sectionEntry.removed != 0 and sectionEntry.disqualified == 0 -%}<span class="badge bg-light text-dark" title="{{ 'section_entry.removed.caption' | trans }}"><i class="bi bi-eye-slash"></i></span>{%- endif -%}
     {%- if sectionEntry.disqualified != 0 -%}<span class="badge bg-light text-dark" title="{{ 'section_entry.disqualified.caption' | trans }}"><i class="bi bi-dash-circle"></i></span>{%- endif -%}
    </div>
    <div class="card-body">
     {%- if sectionEntry.imageVariant.filePath is not empty -%}
      <img class="card-img-top" src="{{ sectionEntry.imageVariant.filePath | imagine_filter('public_large') }}" alt="{{ sectionEntry.title }}" title="{{ sectionEntry.title }}"/>
      {%- else -%}
      <img src="{{ 'images/awaitingImage.png' | imagine_filter('public_grid') }}" alt="{{ sectionEntry.title }}" title="{{ sectionEntry.title }}"/>
      {%- endif -%}
     <h5 class="card-title text-truncate mt-2">{{ sectionEntry.title }}</h5>
     <ul class="list-unstyled">
      {% if not (sectionEntry.removalOrder <= 0) -%}
      <li>{{ sectionEntry.removalOrder }}</li>
      {%- endif %}
      <li>{{ sectionEntry.imageVariant.image.author.defaultLabel() }}</li>
      <li>{{ sectionEntry.score }}</li>
      {% if not (sectionEntry.award is null and sectionEntry.points < 1) -%}
      <li>{{ sectionEntry.awardWithPointsLabel() }}</li>
      {%- endif %}
     </ul>
    </div>
    <div class="card-footer">
     <nav class="nav nav-pills justify-content-center">
      <a href="{{ path('manageEntries_updateSectionEntry', { 'eventTitle': sectionEntry.enteredIn.partOf.event.title,
      'competitionSectionTitle': sectionEntry.enteredIn.title,
      'sectionEntryTitle': sectionEntry.title, }) }}" class="bg-light border border-dark nav-link m-1" title="Edit {{ sectionEntry.defaultLabel() }}"><i class="bi bi-pencil"></i></a>
      <a href="{{ path('manageImageEntries', { 'username': sectionEntry.imageVariant.image.author.username,
      'title': sectionEntry.imageVariant.image.title, }) }}" class="bg-light border border-dark nav-link m-1" title="Entries {{ sectionEntry.defaultLabel() }}">{{ 'manage_entries.section_entries.actions.entrieslabel' | trans( {}, 'admin') }}</a>
      <a href="{{ path('manageEntries_delete', { 'eventTitle': sectionEntry.enteredIn.partOf.event.title,
      'competitionSectionTitle': sectionEntry.enteredIn.title,
      'sectionEntryTitle': sectionEntry.title, }) }}" class="bg-light border border-dark nav-link m-1" title="Delete {{ sectionEntry.defaultLabel() }}" onclick="return confirm('Delete? {{ sectionEntry.defaultLabel() }}');"><i class="bi bi-trash"></i></a>
     </nav>
    </div>
   </div>
  </div>
 {% endfor %}
 </div>
</section>
{% endblock %}
