{% trans_default_domain "entity" %}
<section id="events">
<h4>{{ 'home.events.caption' | trans({}, 'default') }}</h4>
 <turbo-frame id="events-{{ events.currentPage }}" target="_top">
 <div class="row row-cols-1 g-3">
 {% for event in events %}
  <div class="col">
   <div class="card rounded shadow-sm h-100">
    <div class="card-body">
     <div class="card-image img-fluid">
      <time datetime="{{ event.start | date }}" class="xxxx">
       <em>{{ event.start | date('l') }}</em>
       <strong>{{ event.start | date('j') }}</strong>
       <em>{{ event.start | date('F') }}</em>
      </time>
     </div>
     <h5 class="card-title">{{ event.title }}</h5>
    </div>
   </div>
  </div>
 {% endfor %}
 </div>
  {% if events.hasNextPage %}
  <turbo-frame id="events-{{ events.nextPage }}" src="{{ pagerfanta_page_url(events, events.nextPage) }}" loading="lazy"></turbo-frame>
  {% endif %}
 </turbo-frame>
</section>
