{% extends 'base.html.twig' %}

{% block page_title -%}
{{ 'home.caption' | trans({}, 'default') }}
{%- endblock %}

{% block content %}
{{ include('home/showcase.html.twig') }}
{{ include('home/events.html.twig') }}
{% endblock %}
