<section id="showcase">
 <h4 class="  hidden">{{ 'home.showcase.caption' | trans({}, 'default') }}</h4>
 <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
 {% for imageVariant in showcase %}
   <div class="carousel-item{% if loop.first %} active{% endif %}">{%- if imageVariant.filePath is not empty -%}
   <img src="{{ imageVariant.filePath | imagine_filter('club_showcase') }}" alt="{{ imageVariant.imageLabel() }}" title="{{ imageVariant.imageLabel() }}"/>
   {%- else -%}
   <img src="{{ 'images/awaitingImage.png' | imagine_filter('club_showcase') }}" alt="{{ imageVariant.imageLabel() }}" title="{{ imageVariant.imageLabel() }}"/>
   {%- endif -%}</div>
 {% endfor %}
  </div>
 </div>
</section>
