{% extends 'base.html.twig' %}

{% block page_title -%}
{{ 'my_entries.caption' | trans({}, 'me') }}
{%- endblock %}

{% block content %}
{% trans_default_domain "entity" %}
<section id="bpe">
<h4>{{ 'my_entries.bpe.caption' | trans({}, 'me') }}</h4>
 <turbo-frame id="bpe-{{ bpe.currentPage }}" target="_top">
 <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-3">
 {% for sectionEntry in bpe %}
  <div class="col">
   <div class="card rounded shadow-sm h-100">
    <div class="card-body">
     {%- if sectionEntry.imageVariant.filePath is not empty -%}
      <img class="card-img-top" src="{{ sectionEntry.imageVariant.filePath }}" alt="{{ sectionEntry.imageVariant.image.title }}" title="{{ sectionEntry.imageVariant.image.title }}"/>
      {%- endif -%}
     <h5 class="card-title mt-2">{{ sectionEntry.imageVariant.image.title }}</h5>
    </div>
    {% if is_granted('ROLE_MEMBER') %}
    <div class="card-footer">
     <nav class="nav nav-pills justify-content-center">
      {% if is_granted('ROLE_MEMBER') %}<a href="{{ path('myImageEntries', app.request.query.all|merge({ 'title': sectionEntry.imageVariant.image.title, })) }}" class="bg-light border border-dark nav-link m-1" title="Entries {{ sectionEntry.defaultLabel() }}">{{ 'my_entries.bpe.actions.entrieslabel' | trans( {}, 'me') }}</a>{% endif %}
     </nav>
    </div>
    {% endif %}
   </div>
  </div>
 {% endfor %}
 </div>
  {% if bpe.hasNextPage %}
  <turbo-frame id="bpe-{{ bpe.nextPage }}" src="{{ pagerfanta_page_url(bpe, bpe.nextPage) }}" loading="lazy"></turbo-frame>
  {% endif %}
 </turbo-frame>
</section>
{% endblock %}
