{% extends 'base.html.twig' %}

{% block page_title -%}
{{ 'my_entries.caption' | trans({}, 'me') }}
{%- endblock %}

{% block content %}
{% trans_default_domain "entity" %}
<section id="bpeByDate">
 <h4>{{ 'my_entries.bpe_by_date.caption' | trans({}, 'me') }}</h4>
 <table class="">
  <thead class="unit_header">
   <tr>
    <th>{{ 'section_entry.title.caption' | trans }}</th>
    <th>{{ 'image_variant.file_path.caption' | trans }}</th>
    <th>Actions</th>
   </tr>
  </thead>
  <tbody>
 {% for entry in bpeByDate %}
   <tr class="{{ cycle(['odd_row', 'even_row'], loop.index0) }}">
    <td class="title">{{ entry.title }}</td>
    <td class="file_path">{{ entry.imageVariant.filePath }}</td>
    <td class="actions">{% if is_granted('ROLE_MEMBER') %}<a href="{{ path('myImageEntries', app.request.query.all|merge({ 'title': entry.imageVariant.image.title, })) }}" title="Entries {{ entry.defaultLabel() }}">{{ 'my_entries.bpe_by_date.actions.entrieslabel' | trans( {}, 'me') }}</a>{% endif %}</td>
   </tr>
 {% endfor %}
  </tbody>
 </table>
</section>
{% endblock %}
