{% extends 'base.html.twig' %}

{% block page_title -%}
{{ 'my_entries.caption' | trans({}, 'me') }}
{%- endblock %}

{% block content %}
{% trans_default_domain "entity" %}
<section id="lcpu">
<h4>{{ 'my_entries.lcpu.caption' | trans({}, 'me') }}</h4>
 <div class="filter mb-3">
  <form action="{{ path('myEntries_lcpu', {  }) }}" method="get">
   <div class="input-group">
    <input type="text" name="entryTitle" class="form-control" placeholder="Entry title" required="required" value="{{ app.request.query.get('entryTitle') }}"/>
    <button type="submit" name="entryTitleLikeFilter" class="btn btn-outline-secondary"><i class="material-icons">search</i></button>
   </div>
  </form>
 </div>
 <div class="filter mb-3">
  <form action="{{ path('myEntries_lcpu', {  }) }}" method="get">
   <div class="input-group">
    <input type="text" name="imageTitle" class="form-control" placeholder="Image title" required="required" value="{{ app.request.query.get('imageTitle') }}"/>
    <button type="submit" name="imageTitleLikeFilter" class="btn btn-outline-secondary"><i class="material-icons">search</i></button>
   </div>
  </form>
 </div>
 <turbo-frame id="lcpu-{{ lcpu.currentPage }}" target="_top">
 <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-3">
 {% for sectionEntry in lcpu %}
  <div class="col">
   <div class="card rounded shadow-sm h-100">
    <div class="card-body">
     {%- if sectionEntry.imageVariant.filePath is empty or sectionEntry.imageVariant.photo -%}
      <img src="{{ 'images/awaitingImage.png' | imagine_filter('public_grid') }}" alt="{{ sectionEntry.imageVariant.image.title }}" title="{{ sectionEntry.imageVariant.image.title }}"/>
      {%- else -%}
      <img class="card-img-top" src="{{ sectionEntry.imageVariant.filePath | imagine_filter('public_large') }}" alt="{{ sectionEntry.imageVariant.image.title }}" title="{{ sectionEntry.imageVariant.image.title }}"/>
      {%- endif -%}
     <h5 class="card-title text-truncate mt-2">{{ sectionEntry.imageVariant.image.title }}</h5>
    </div>
    <div class="card-footer">
     <nav class="nav nav-pills justify-content-center">
      <a href="{{ path('myImageEntries', app.request.query.all|merge({ 'title': sectionEntry.imageVariant.image.title, })) }}" class="bg-light border border-dark nav-link m-1" title="Entries {{ sectionEntry.defaultLabel() }}">{{ 'my_entries.lcpu.actions.entrieslabel' | trans( {}, 'me') }}</a>
     </nav>
    </div>
   </div>
  </div>
 {% endfor %}
 </div>
  {% if lcpu.hasNextPage %}
  <turbo-frame id="lcpu-{{ lcpu.nextPage }}" src="{{ pagerfanta_page_url(lcpu, lcpu.nextPage) }}" loading="lazy"></turbo-frame>
  {% endif %}
 </turbo-frame>
</section>
{% endblock %}
