<!doctype html>
<html lang="{{ locale }}">
<head>
 <meta charset="UTF-8"/>
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <meta name="description" content="">
 {% block metas %}{% endblock %}
 <title>{{ site_title }}: {% block page_title %}{% endblock %}</title>
{% block stylesheets %}
 {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block javascripts %}
 {{ encore_entry_script_tags('app') }}
{% endblock %}

{% if scripts is defined %}
{% for script in scripts  %}
{% if script is iterable %}
 <script{% for key, value in script %} {{ key }}="{{ value }}"{% endfor %}></script>
{% else %}
 <script src="{{ asset(script) }}"></script>
{% endif %}
{% endfor %}
{% endif %}
</head>
<body>
<header>
{% block navigation %}
{{ include('navigation.html.twig') }}
{% endblock %}
</header>
<main {# <?php if (isset($style_class)) { echo 'class="' . $style_class . '" '; } ?>#}id="content">
 <div class="container">
{%- if app.request.hasPreviousSession -%}
 {%- for type, messages in app.session.flashbag.all() -%}
  {%- for message in messages -%}
  <div class="alert alert-{{ type }}">
   {{ message }}
  </div>
  {%- endfor -%}
 {%- endfor -%}
{%- endif -%}

{% block content %}
{% endblock %}
 </div>
</main>
<footer class="page-footer">
 <div class="container">
  <p>&nbsp;</p>
 </div>
 <div class="footer-copyright">
  <div class="container">
   <p>&copy; Sale Photographic Society 2014&ndash;{{ 'now' | date('Y') }}</p>
  </div>
 </div>
</footer>
</body>
</html>
