{% trans_default_domain "navigation" %}

{% block navigation %}
<nav id="authentication_menu" class="nav justify-content-end">
 {%- if app.user -%}
 <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">{{ app.user.username }}</a>
 <a class="nav-link" href="{{ logout_path() }}">{{ 'logout.invoke' | trans({}, 'authentication') }}</a>
 {%- elseif not app.user -%}
 <a class="nav-link" href="{{ path('login') }}">{{ 'login.invoke' | trans({}, 'authentication') }}</a>
 {%- endif -%}
</nav>
<nav class="navbar navbar-dark navbar-expand-lg sticky-md-top">
 <div class="container-fluid">
  <span class="navbar-brand"><img src="{{ 'images/logo/SPS_Logo_Horizontal.png' | imagine_filter('logo') }}" alt="Logo"/></span>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
   <div class="navbar-nav">
    {% if is_granted('ROLE_MEMBER_PLUS') %}<a class="nav-link{% if app.request.attributes.get('_route') == 'home' %} active{% endif %}" href="{{ path('home') }}">{{ 'top.home2' | trans }}</a>{% endif %}
    <div class="nav-item dropdown">
     <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#competitions" role="button" aria-expanded="false">{{ 'top.competitions' | trans }}</a>
     <ul id="competitions" class="dropdown-menu">
       <li><a class="dropdown-item{% if app.request.attributes.get('_route') == 'competitions' %} active{% endif %}" href="{{ path('competitions') }}">{{ 'top.competitions.upcoming' | trans }}</a></li>
       <li><a class="dropdown-item{% if app.request.attributes.get('_route') == 'competitions_past' %} active{% endif %}" href="{{ path('competitions_past') }}">{{ 'top.competitions.home' | trans }}</a></li>
       <li><a class="dropdown-item{% if app.request.attributes.get('_route') == 'competitions_cumulative' %} active{% endif %}" href="{{ path('competitions_cumulative') }}">{{ 'top.competitions.cumulative' | trans }}</a></li>
       {% if is_granted('ROLE_BPE_ACTIVE') %}<li><a class="dropdown-item{% if app.request.attributes.get('_route') == 'competitions_bpe' %} active{% endif %}" href="{{ path('competitions_bpe') }}">{{ 'top.competitions.bpe' | trans }}</a></li>{% endif %}
       {% if is_granted('ROLE_COMPETITION_SECRETARY') %}<li><a class="dropdown-item{% if app.request.attributes.get('_route') == 'manageCompetitions' %} active{% endif %}" href="{{ path('manageCompetitions') }}">{{ 'top.competitions.manage' | trans }}</a></li>{% endif %}
       {% if is_granted('ROLE_COMPETITION_SECRETARY') %}<li><a class="dropdown-item{% if app.request.attributes.get('_route') == 'manageCompetitions_categories' %} active{% endif %}" href="{{ path('manageCompetitions_categories') }}">{{ 'top.competitions.manage_categories' | trans }}</a></li>{% endif %}
     </ul>
    </div>
    {% if is_granted('ROLE_COMPETITION_SECRETARY') %}<a class="nav-link{% if app.request.attributes.get('_route') == 'galleries' %} active{% endif %}" href="{{ path('galleries') }}">{{ 'top.galleries' | trans }}</a>{% endif %}
    <div class="nav-item dropdown">
     <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#my_images" role="button" aria-expanded="false">{{ 'top.my_images' | trans }}</a>
     <ul id="my_images" class="dropdown-menu">
       <li><a class="dropdown-item{% if app.request.attributes.get('_route') == 'myImages' %} active{% endif %}" href="{{ path('myImages') }}">{{ 'top.my_images.my_images' | trans }}</a></li>
       <li><a class="dropdown-item{% if app.request.attributes.get('_route') == 'myImages_withoutPicture' %} active{% endif %}" href="{{ path('myImages_withoutPicture') }}">{{ 'top.my_images.my_images_without_pictures' | trans }}</a></li>
       <li><a class="dropdown-item{% if app.request.attributes.get('_route') == 'myEntries' %} active{% endif %}" href="{{ path('myEntries') }}">{{ 'top.my_images.mysps' | trans }}</a></li>
       <li><a class="dropdown-item{% if app.request.attributes.get('_route') == 'myEntries_lcpu' %} active{% endif %}" href="{{ path('myEntries_lcpu') }}">{{ 'top.my_images.mylcpu' | trans }}</a></li>
       <li><a class="dropdown-item{% if app.request.attributes.get('_route') == 'myEntries_bpe' %} active{% endif %}" href="{{ path('myEntries_bpe') }}">{{ 'top.my_images.mybpe' | trans }}</a></li>
     </ul>
    </div>
    {% if is_granted('ROLE_MEMBER_PLUS') %}<div class="nav-item dropdown">
     <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#members" role="button" aria-expanded="false">{{ 'top.members' | trans }}</a>
     <ul id="members" class="dropdown-menu">
       {% if is_granted('ROLE_MEMBER_PLUS') %}<li><a class="dropdown-item{% if app.request.attributes.get('_route') == 'members_mentors' %} active{% endif %}" href="{{ path('members_mentors') }}">{{ 'top.members.mentors' | trans }}</a></li>{% endif %}
       {% if is_granted('ROLE_MEMBER_PLUS') %}<li><a class="dropdown-item{% if app.request.attributes.get('_route') == 'members_committee' %} active{% endif %}" href="{{ path('members_committee') }}">{{ 'top.members.committee' | trans }}</a></li>{% endif %}
       {% if is_granted('ROLE_MEMBER_PLUS') %}<li><a class="dropdown-item{% if app.request.attributes.get('_route') == 'members_noticeboard' %} active{% endif %}" href="{{ path('members_noticeboard') }}">{{ 'top.members.noticeboard' | trans }}</a></li>{% endif %}
       {% if is_granted('ROLE_MEMBER_PLUS') %}<li><a class="dropdown-item{% if app.request.attributes.get('_route') == 'members' %} active{% endif %}" href="{{ path('members') }}">{{ 'top.members.judges' | trans }}</a></li>{% endif %}
     </ul>
    </div>
    {% endif %}
    {% if is_granted('ROLE_COMPETITION_SECRETARY') %}<div class="nav-item dropdown">
     <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#admin" role="button" aria-expanded="false">{{ 'top.admin' | trans }}</a>
     <ul id="admin" class="dropdown-menu">
       {% if is_granted('ROLE_EVENT_MANAGER') %}<li><a class="dropdown-item{% if app.request.attributes.get('_route') == 'manageEvents' %} active{% endif %}" href="{{ path('manageEvents') }}">{{ 'top.admin.events' | trans }}</a></li>{% endif %}
       {% if is_granted('ROLE_VENUE_MANAGER') %}<li><a class="dropdown-item{% if app.request.attributes.get('_route') == 'manageEvents_venues' %} active{% endif %}" href="{{ path('manageEvents_venues') }}">{{ 'top.admin.venues' | trans }}</a></li>{% endif %}
       {% if is_granted('ROLE_EVENT_MANAGER') %}<li><a class="dropdown-item{% if app.request.attributes.get('_route') == 'manageTalks' %} active{% endif %}" href="{{ path('manageTalks') }}">{{ 'top.admin.talks' | trans }}</a></li>{% endif %}
       {% if is_granted('ROLE_PEOPLE_MANAGER') %}<li><a class="dropdown-item{% if app.request.attributes.get('_route') == 'manageOrganisations' %} active{% endif %}" href="{{ path('manageOrganisations') }}">{{ 'top.admin.organisations' | trans }}</a></li>{% endif %}
       {% if is_granted('ROLE_PEOPLE_MANAGER') %}<li><a class="dropdown-item{% if app.request.attributes.get('_route') == 'managePeople' %} active{% endif %}" href="{{ path('managePeople') }}">{{ 'top.admin.people' | trans }}</a></li>{% endif %}
       {% if is_granted('ROLE_COMPETITION_SECRETARY') %}<li><a class="dropdown-item{% if app.request.attributes.get('_route') == 'manageImages' %} active{% endif %}" href="{{ path('manageImages') }}">{{ 'top.admin.images' | trans }}</a></li>{% endif %}
       {% if is_granted('ROLE_PEOPLE_MANAGER') %}<li><a class="dropdown-item{% if app.request.attributes.get('_route') == 'managePeople_distinctions' %} active{% endif %}" href="{{ path('managePeople_distinctions') }}">{{ 'top.admin.distinctions' | trans }}</a></li>{% endif %}
       {% if is_granted('ROLE_COMPETITION_SECRETARY') %}<li><a class="dropdown-item{% if app.request.attributes.get('_route') == 'manageCumulative' %} active{% endif %}" href="{{ path('manageCumulative') }}">{{ 'top.admin.cumulative' | trans }}</a></li>{% endif %}
       {% if is_granted('ROLE_PUBLIC_ENGAGEMENT_PLUS') %}<li><a class="dropdown-item{% if app.request.attributes.get('_route') == 'manageStaticText' %} active{% endif %}" href="{{ path('manageStaticText') }}">{{ 'top.admin.static' | trans }}</a></li>{% endif %}
     </ul>
    </div>
    {% endif %}
    {% if is_granted('ROLE_MEMBER_PLUS') %}<a class="nav-link{% if app.request.attributes.get('_route') == 'aboutUs' %} active{% endif %}" href="{{ path('aboutUs') }}">{{ 'top.about_us' | trans }}</a>{% endif %}
   </div>
  </div>
 </div>
</nav>
{% endblock %}
