{% extends 'base.html.twig' %}

{% block page_title -%}
{{ 'members.caption' | trans({}, 'members') }}
{%- endblock %}

{% block content %}
{% trans_default_domain "entity" %}
<section id="committee">
 <h4>{{ 'members.committee.caption' | trans({}, 'members') }}</h4>
 <ul class="list-unstyled">
  <li>{{ committee.content }}</li>
 </ul>
</section>
{% endblock %}
