{% extends 'base.html.twig' %}

{% block page_title -%}
{{ 'members.caption' | trans({}, 'members') }}
{%- endblock %}

{% block content %}
{% trans_default_domain "entity" %}
<section id="judges">
 <h4>{{ 'members.judges.caption' | trans({}, 'members') }}</h4>
 <div class="filter mb-3">
  <form action="{{ path('members', {  }) }}" method="get">
   <div class="input-group">
    <input type="text" name="forenames" class="form-control" placeholder="Forenames" value="{{ app.request.query.get('forenames') }}"/>
    <input type="text" name="familyName" class="form-control" placeholder="Family Name" value="{{ app.request.query.get('familyName') }}"/>
    <button type="submit" name="nameLikeFilter" class="btn btn-outline-secondary"><i class="material-icons">search</i></button>
   </div>
  </form>
 </div>
 <table class="">
  <thead class="unit_header">
   <tr>
    <th>{{ 'person.forenames.caption' | trans }}</th>
    <th>{{ 'person.family_name.caption' | trans }}</th>
    <th>{{ 'person.has_judged.caption' | trans }}</th>
   </tr>
  </thead>
  <tbody>
 {% for entry in judges %}
   <tr class="{{ cycle(['odd_row', 'even_row'], loop.index0) }}">
    <td class="forenames">{{ entry.forenames }}</td>
    <td class="family_name">{{ entry.familyName }}</td>
    <td class="has_judged">{% for value in entry.hasJudged %}<div>{{ value.defaultLabel() }}</div>{% endfor %}</td>
   </tr>
 {% endfor %}
  </tbody>
 </table>
 {{ pagerfanta(judges) }}
</section>
{% endblock %}
