{% extends 'base.html.twig' %}

{% block page_title -%}
{{ 'members.caption' | trans({}, 'members') }}
{%- endblock %}

{% block content %}
<section id="noticeboard">
 <h4>Noticeboard</h4>
  <div>Placeholder</div>
</section>
{% endblock %}
