{% extends 'base.html.twig' %}

{% block page_title -%}
{{ 'manage_organisations.caption' | trans({}, 'admin') }}
{%- endblock %}

{% block metas %}
<meta name="turbo-cache-control" content="no-preview">
{% endblock %}

{% block content %}
{% trans_default_domain "entity" %}
{% trans_default_domain "admin" %}
<section id="edit">
<h4>{{ 'manage_organisations.edit.caption' | trans }}</h4>
{{ form_start(edit, { attr: { id: 'organisation', class: 'container border rounded g-0 pt-2' }}) }}
 {{ form_errors(edit) }}
 {{ form_row(edit.title, { row_attr: { class: 'px-2 mb-3' },}) }}
 {{ form_row(edit.shortTitle, { row_attr: { class: 'px-2 mb-3' },}) }}
 {{ form_row(edit.website, { row_attr: { class: 'px-2 mb-3' },}) }}
<div class="d-flex justify-content-center bg-light border-top p-2">
 <button type="submit" name="submit" class="btn border rounded mx-2 my-1">{{ 'admin.labels.submit' | trans }}</button>
 <input type="submit" name="cancel" class="btn border rounded mx-2 my-1" value="{{ 'admin.labels.cancel' | trans }}" formnovalidate/>
 <input type="reset" name="clear" class="btn border rounded mx-2 my-1" value="Clear"/>
</div>
{{ form_row(edit._token) }}
{{ form_end(edit, {'render_rest': false}) }}
</section>
{% endblock %}
