{% extends 'base.html.twig' %}

{% block page_title -%}
{{ 'manage_organisations.caption' | trans({}, 'admin') }}
{%- endblock %}

{% block content %}
{% trans_default_domain "entity" %}
<section id="organisations">
 <h4>{{ 'manage_organisations.organisations.caption' | trans({}, 'admin') }}</h4>
 <div class="filter mb-3">
  <form action="{{ path('manageOrganisations', {  }) }}" method="get">
   <div class="input-group">
    <input type="text" name="name" class="form-control" placeholder="Name" required="required" value="{{ app.request.query.get('name') }}"/>
    <button type="submit" name="nameLikeFilter" class="btn btn-outline-secondary"><i class="material-icons">search</i></button>
   </div>
  </form>
 </div>
 <table class="">
  <thead class="unit_header">
   <tr>
    <th>{{ 'organisation.short_title.caption' | trans }}</th>
    <th>{{ 'organisation.title.caption' | trans }}</th>
    <th>{{ 'organisation.website.caption' | trans }}</th>
    <th>Actions</th>
   </tr>
  </thead>
  <tbody>
 {% for entry in organisations %}
   <tr class="{{ cycle(['odd_row', 'even_row'], loop.index0) }}">
    <td class="short_title">{{ entry.shortTitle }}</td>
    <td class="title">{{ entry.title }}</td>
    <td class="website">{{ entry.website }}</td>
    <td class="actions"><a href="{{ path('manageOrganisations_update', app.request.query.all|merge({ 'title': entry.title, })) }}" title="Edit {{ entry.defaultLabel() }}"><i class="bi bi-pencil"></i></a>
    <a href="{{ path('manageOrganisations_delete', app.request.query.all|merge({ 'title': entry.title, })) }}" title="Delete {{ entry.defaultLabel() }}" onclick="return confirm('Delete? {{ entry.defaultLabel() }}');"><i class="bi bi-trash"></i></a></td>
   </tr>
 {% endfor %}
  </tbody>
 </table>
 {{ pagerfanta(organisations) }}
</section>
{% endblock %}
